<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=516214#pid516214" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=516214#pid516214" title="RE: Absolute - HTB [Discussion]">#2</a></strong>
</div>
</div>
<span class="post_date">September 24, 2022, 07:55 PM <span class="post_edit" id="edited_by_516214"></span></span>
</div>
<div class="post_body scaleimages" id="pid_516214">
					box has noothing JAJAJAJAJAJAJJA
				</div>
<div class="post_meta" id="post_meta_516214">
<div class="float_right">
</div>
</div>