<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=516423#pid516423" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=516423#pid516423" title="RE: Absolute - HTB [Discussion]">#5</a></strong>
</div>
</div>
<span class="post_date">September 24, 2022, 08:38 PM <span class="post_edit" id="edited_by_516423"></span></span>
</div>
<div class="post_body scaleimages" id="pid_516423">
					or maybe this is really just hard box? lol
				</div>
<div class="post_meta" id="post_meta_516423">
<div class="float_right">
</div>
</div>