<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=516409#pid516409" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=516409#pid516409" title="RE: Absolute - HTB [Discussion]">#3</a></strong>
</div>
</div>
<span class="post_date">September 24, 2022, 08:33 PM <span class="post_edit" id="edited_by_516409">
<span class="edited_post">(This post was last modified: September 24, 2022, 08:34 PM by <a href="https://breached.to/User-achillescarter">achillescarter</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_516409">
					is it really nothing? lol. I mean this is my first windows but I think nothing's interesting even on the smbclient? is the box broken?
				</div>
<div class="post_meta" id="post_meta_516409">
<div class="float_right">
</div>
</div>