<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=516415#pid516415" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=516415#pid516415" title="RE: Absolute - HTB [Discussion]">#4</a></strong>
</div>
</div>
<span class="post_date">September 24, 2022, 08:35 PM <span class="post_edit" id="edited_by_516415"></span></span>
</div>
<div class="post_body scaleimages" id="pid_516415">
					all scans have nothing jajajaja .........
				</div>
<div class="post_meta" id="post_meta_516415">
<div class="float_right">
</div>
</div>