<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=516570#pid516570" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=516570#pid516570" title="RE: Absolute - HTB [Discussion]">#6</a></strong>
</div>
</div>
<span class="post_date">September 24, 2022, 09:09 PM <span class="post_edit" id="edited_by_516570"></span></span>
</div>
<div class="post_body scaleimages" id="pid_516570">
					it's just a difficult machine, I'm enumerating it with kerbrute, really a good machine has something well hidden here, one day we'll find out.
				</div>
<div class="post_meta" id="post_meta_516570">
<div class="float_right">
</div>
</div>