<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=516753#pid516753" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=516753#pid516753" title="RE: Absolute - HTB [Discussion]">#7</a></strong>
</div>
</div>
<span class="post_date">September 24, 2022, 09:58 PM <span class="post_edit" id="edited_by_516753"></span></span>
</div>
<div class="post_body scaleimages" id="pid_516753">
					==&gt; Found valid users using kerbrute<br>
<br>
~/Desktop/Absolute/content ❯ kerbrute userenum --dc absolute.htb -d absolute.htb valid-ones.lst                                           ✘ INT <br>
<br/>
    __             __               __                                                                                                              <br/>
   / /_____  _____/ /_  _______  __/ /____                                                                                                          <br/>
  / //_/ _ \/ ___/ __ \/ ___/ / / / __/ _ \                                                                                                         <br/>
 / ,&lt; /  __/ /  / /_/ / /  / /_/ / /_/  __/                                                                                                         <br/>
/_/|_|\___/_/  /_.___/_/   \__,_/\__/\___/                                                                                                          <br/>
<br/>
Version: v1.0.3 (9dad6e1) - 09/24/22 - Ronnie Flathers @ropnop                                                                                      <br/>
<br/>
2022/09/24 18:56:18 &gt;  Using KDC(s):                                                                                                                <br/>
2022/09/24 18:56:18 &gt;   absolute.htb:88                                                                                                             <br/>
<br/>
2022/09/24 18:56:19 &gt;  [+] VALID USERNAME:       <a href="mailto:n.smith@absolute.htb">n.smith@absolute.htb</a> <br/>
2022/09/24 18:56:19 &gt;  [+] VALID USERNAME:       <a href="mailto:j.roberts@absolute.htb">j.roberts@absolute.htb</a> <br/>
2022/09/24 18:56:19 &gt;  [+] VALID USERNAME:       <a href="mailto:j.robinson@absolute.htb">j.robinson@absolute.htb</a> <br/>
2022/09/24 18:56:19 &gt;  [+] VALID USERNAME:       <a href="mailto:l.moore@absolute.htb">l.moore@absolute.htb</a> <br/>
2022/09/24 18:56:19 &gt;  [+] VALID USERNAME:       <a href="mailto:s.johnson@absolute.htb">s.johnson@absolute.htb</a> <br/>
<br/>
------<br/>
<br/>
==&gt; Didn't understand this smb message<br/>
<br/>
~/Desktop/Absolute/content ❯ cme smb absolute.htb -u s.johnson -p s.johnson -d absolute.htb<br/>
<br/>
SMB         absolute.htb    445    DC               [*] Windows 10.0 Build 17763 x64 (name<img alt="Big Grin" class="smilie smilie_4" src="https://breached.to/images/smilies/biggrin.png" title="Big Grin"/>C) (domain:absolute.htb) (signing:True) (SMBv1:False)<br/>
SMB         absolute.htb    445    DC               [-] absolute.htb\s.johnson<img alt="Confused" class="smilie smilie_13" src="https://breached.to/images/smilies/confused.png" title="Confused"/>.johnson STATUS_ACCOUNT_RESTRICTION
				</br></br></br></div>
<div class="post_meta" id="post_meta_516753">
<div class="float_right">
</div>
</div>