<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=516763#pid516763" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=516763#pid516763" title="RE: Absolute - HTB [Discussion]">#8</a></strong>
</div>
</div>
<span class="post_date">September 24, 2022, 09:59 PM <span class="post_edit" id="edited_by_516763"></span></span>
</div>
<div class="post_body scaleimages" id="pid_516763">
					how did u get usernames ?
				</div>
<div class="post_meta" id="post_meta_516763">
<div class="float_right">
</div>
</div>