<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=517470#pid517470" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=517470#pid517470" title="RE: Absolute - HTB [Discussion]">#17</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 01:40 AM <span class="post_edit" id="edited_by_517470">
<span class="edited_post">(This post was last modified: <span title="September 25, 2022">Yesterday</span>, 01:41 AM by <a href="https://breached.to/User-coder1777">coder1777</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_517470">
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:36 AM)</span>hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517461#pid517461" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:24 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517418#pid517418" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 12:20 AM)</span>hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517242#pid517242" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 12:08 AM)</span>Ruki Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517209#pid517209" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (September 24, 2022, 11:45 PM)</span>hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517119#pid517119" rel="nofollow"></a></cite>creo que solo puedes usar kerberos para autenticación ...............</blockquote><br>
Sí. Solicité el TGT y estoy tratando de usar GetUserSPNs, pero no funciona.</br></blockquote><br>
acabo de encontrar la ruta ......... ldap con cme obtiene las descripciones de los usuarios tiene credenciales de smbuser LOLLLL</br></blockquote><br>
¿Cómo obtuviste la credencial ldap?</br></blockquote>arriba som1 encontrado asreproast ......</blockquote><br/>
yes, but d.klay or the password are not valid for requesting a tgt  and they are not valid in ldap either
				</div>
<div class="post_meta" id="post_meta_517470">
<div class="float_right">
</div>
</div>