<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=517546#pid517546" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=517546#pid517546" title="RE: Absolute - HTB [Discussion]">#21</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 02:13 AM <span class="post_edit" id="edited_by_517546"></span></span>
</div>
<div class="post_body scaleimages" id="pid_517546">
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:58 AM)</span>coder1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517502#pid517502" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:54 AM)</span>hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517490#pid517490" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:40 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517470#pid517470" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:36 AM)</span>hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517461#pid517461" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:24 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517418#pid517418" rel="nofollow"></a></cite>¿Cómo obtuviste la credencial ldap?</blockquote>arriba som1 encontrado como reproche ......</blockquote><br>
si, pero d.klay o la contraseña no valen para pedir un tgt y tampoco valen en ldap</br></blockquote>Es correcto ???? ¿Tienes un signo de exclamación?<br>
<hr class="mycode_hr"/>
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:40 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517470#pid517470" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:36 AM)</span>hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517461#pid517461" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:24 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517418#pid517418" rel="nofollow"></a></cite>¿Cómo obtuviste la credencial ldap?</blockquote>arriba som1 encontrado como reproche ......</blockquote><br>
si, pero d.klay o la contraseña no valen para pedir un tgt y tampoco valen en ldap</br></blockquote><br/>
crack tú mismo ........... es correcto ..............</br></blockquote>d.klay has no access to anything</blockquote><br/>
Like no access to anything or like can't login in any way? You try psexec stuff?
				</div>
<div class="post_meta" id="post_meta_517546">
<div class="float_right">
</div>
</div>