<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=517502#pid517502" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=517502#pid517502" title="RE: Absolute - HTB [Discussion]">#19</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 01:58 AM <span class="post_edit" id="edited_by_517502"></span></span>
</div>
<div class="post_body scaleimages" id="pid_517502">
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:54 AM)</span>hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517490#pid517490" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:40 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517470#pid517470" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:36 AM)</span>hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517461#pid517461" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:24 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517418#pid517418" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 12:20 AM)</span>hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517242#pid517242" rel="nofollow"></a></cite>acabo de encontrar la ruta ......... ldap con cme obtiene las descripciones de los usuarios tiene credenciales de smbuser LOLLLL</blockquote><br>
¿Cómo obtuviste la credencial ldap?</br></blockquote>arriba som1 encontrado como reproche ......</blockquote><br>
si, pero d.klay o la contraseña no valen para pedir un tgt y tampoco valen en ldap</br></blockquote>Es correcto ???? ¿Tienes un signo de exclamación?<br>
<hr class="mycode_hr"/>
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:40 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517470#pid517470" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:36 AM)</span>hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517461#pid517461" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:24 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517418#pid517418" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 12:20 AM)</span>hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517242#pid517242" rel="nofollow"></a></cite>acabo de encontrar la ruta ......... ldap con cme obtiene las descripciones de los usuarios tiene credenciales de smbuser LOLLLL</blockquote><br/>
¿Cómo obtuviste la credencial ldap?</blockquote>arriba som1 encontrado como reproche ......</blockquote><br/>
si, pero d.klay o la contraseña no valen para pedir un tgt y tampoco valen en ldap</blockquote><br/>
crack tú mismo ........... es correcto ..............</br></blockquote>d.klay has no access to anything
				</div>
<div class="post_meta" id="post_meta_517502">
<div class="float_right">
</div>
</div>