<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=517599#pid517599" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=517599#pid517599" title="RE: Absolute - HTB [Discussion]">#23</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 02:28 AM <span class="post_edit" id="edited_by_517599"></span></span>
</div>
<div class="post_body scaleimages" id="pid_517599">
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 02:20 AM)</span>coder1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517571#pid517571" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 02:13 AM)</span>computadora malcol Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517546#pid517546" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:58 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517502#pid517502" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:54 AM)</span>hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517490#pid517490" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:40 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517470#pid517470" rel="nofollow"></a></cite>si, pero d.klay o la contraseña no valen para pedir un tgt y tampoco valen en ldap</blockquote>Es correcto???? ¿Tienes un signo de exclamación?<br>
<hr class="mycode_hr"/>
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:40 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517470#pid517470" rel="nofollow"></a></cite>si, pero d.klay o la contraseña no valen para pedir un tgt y tampoco valen en ldap</blockquote><br>
crack tú mismo ........... es correcto ..............</br></br></blockquote>d.klay no tiene acceso a nada</blockquote><br>
¿No tiene acceso a nada o no puede iniciar sesión de ninguna manera? ¿Intentas cosas de psexec?</br></blockquote><br/>
in no way<br/>
<hr class="mycode_hr"/>
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 02:11 AM)</span>hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517540#pid517540" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:58 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517502#pid517502" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:54 AM)</span>hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517490#pid517490" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:40 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517470#pid517470" rel="nofollow"></a></cite>si, pero d.klay o la contraseña no valen para pedir un tgt y tampoco valen en ldap</blockquote>Es correcto???? ¿Tienes un signo de exclamación?<br/>
<hr class="mycode_hr"/>
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:40 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517470#pid517470" rel="nofollow"></a></cite>si, pero d.klay o la contraseña no valen para pedir un tgt y tampoco valen en ldap</blockquote><br/>
crack tú mismo ........... es correcto ..............</blockquote>d.klay no tiene acceso a nada</blockquote>.................. puedes acceder c</blockquote>really can't br accessed with tgt</blockquote>¿Cómo estás tratando de usar el ticket?<br/>
deberías poder conectarte a smb
				</div>
<div class="post_meta" id="post_meta_517599">
<div class="float_right">
</div>
</div>