<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=517612#pid517612" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=517612#pid517612" title="RE: Absolute - HTB [Discussion]">#25</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 02:33 AM <span class="post_edit" id="edited_by_517612">
<span class="edited_post">(This post was last modified: <span title="September 25, 2022">Yesterday</span>, 02:34 AM by <a href="https://breached.to/User-Hacker2222">Hacker2222</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_517612">
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 02:31 AM)</span>coder1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517609#pid517609" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 02:28 AM)</span>hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517599#pid517599" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 02:20 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517571#pid517571" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 02:13 AM)</span>computadora malcol Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517546#pid517546" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:58 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517502#pid517502" rel="nofollow"></a></cite>d.klay no tiene acceso a nada</blockquote><br>
¿No tiene acceso a nada o no puede iniciar sesión de ninguna manera? ¿Intentas cosas de psexec?</br></blockquote><br>
de ninguna manera<br>
<hr class="mycode_hr"/>
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 02:11 AM)</span>hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517540#pid517540" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 01:58 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517502#pid517502" rel="nofollow"></a></cite>d.klay no tiene acceso a nada</blockquote>.................. puedes acceder c</blockquote>realmente no se puede acceder a br con tgt</br></br></blockquote>¿Cómo estás tratando de usar el ticket? <br/>
deberías poder conectarte a un smb</blockquote><br/>
try with psexec and getUsersSPN and connect via smb , Y can't connect either</blockquote><br/>
what command /????<br/>
<hr class="mycode_hr"/>
d.klay creds give u access to ldap with tgt with cme............. then read ldap for different user creds
				</div>
<div class="post_meta" id="post_meta_517612">
<div class="float_right">
</div>
</div>