<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=517625#pid517625" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=517625#pid517625" title="RE: Absolute - HTB [Discussion]">#26</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 02:38 AM <span class="post_edit" id="edited_by_517625"></span></span>
</div>
<div class="post_body scaleimages" id="pid_517625">
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 02:33 AM)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517612#pid517612" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 02:31 AM)</span>coder1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517609#pid517609" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 02:28 AM)</span>hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517599#pid517599" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 02:20 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517571#pid517571" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 02:13 AM)</span>computadora malcol Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517546#pid517546" rel="nofollow"></a></cite>¿No tiene acceso a nada o no puede iniciar sesión de ninguna manera? ¿Intentas cosas de psexec?</blockquote><br>
de ninguna manera<br>
<hr class="mycode_hr"/>
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 02:11 AM)</span>hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517540#pid517540" rel="nofollow"></a></cite>.................. puedes acceder c</blockquote>realmente no se puede acceder a br con tgt</br></br></blockquote>¿Cómo estás tratando de usar el ticket? <br>
deberías poder conectarte a un smb</br></blockquote><br/>
try with psexec and getUsersSPN and connect via smb , Y can't connect either</blockquote><br/>
what command /????</blockquote>get-UsersSPN: impacket-GetUserSPNs absolute.htb<br/>
/d.klay<img alt="Big Grin" class="smilie smilie_4" src="https://breached.to/images/smilies/biggrin.png" title="Big Grin"/>arkmoonsky248girl -dc-ip dc.absolute.htb -request -k -no-pass<br/>
<br/>
psexec: impacket-psexec absolute.htb/<a href="mailto:d.klay@10.190.203.201">d.klay@10.190.203.201</a> -k -no-pass<br/>
<br/>
i already have the .ccache Of d.klay
				</div>
<div class="post_meta" id="post_meta_517625">
<div class="float_right">
</div>
</div>