<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=517873#pid517873" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=517873#pid517873" title="RE: Absolute - HTB [Discussion]">#28</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 03:43 AM <span class="post_edit" id="edited_by_517873"></span></span>
</div>
<div class="post_body scaleimages" id="pid_517873">
					anyone got anywhere with the service account?
				</div>
<div class="post_meta" id="post_meta_517873">
<div class="float_right">
</div>
</div>