<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=517982#pid517982" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=517982#pid517982" title="RE: Absolute - HTB [Discussion]">#30</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 04:07 AM <span class="post_edit" id="edited_by_517982"></span></span>
</div>
<div class="post_body scaleimages" id="pid_517982">
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 04:03 AM)</span>coder1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517951#pid517951" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 03:43 AM)</span>a5bestG00s3 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517873#pid517873" rel="nofollow"></a></cite>anyone got anywhere with the service account?</blockquote><br>
¿what do You mean by Service account?</br></blockquote><br>
svc_smb
				</br></div>
<div class="post_meta" id="post_meta_517982">
<div class="float_right">
</div>
</div>