<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=518013#pid518013" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=518013#pid518013" title="RE: Absolute - HTB [Discussion]">#31</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 04:15 AM <span class="post_edit" id="edited_by_518013"></span></span>
</div>
<div class="post_body scaleimages" id="pid_518013">
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 04:07 AM)</span>a5mejorG00s3 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517982#pid517982" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 04:03 AM)</span>codificador1777 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517951#pid517951" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 03:43 AM)</span>a5mejorG00s3 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=517873#pid517873" rel="nofollow"></a></cite>¿alguien llegó a algún lado con la cuenta de servicio?</blockquote><br>
¿A qué te refieres con cuenta de servicio?</br></blockquote><br>
svc_smb</br></blockquote><br>
¿how did You become svc_smb?
				</br></div>
<div class="post_meta" id="post_meta_518013">
<div class="float_right">
</div>
</div>