<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=519941#pid519941" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=519941#pid519941" title="RE: Absolute - HTB [Discussion]">#32</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 10:51 AM <span class="post_edit" id="edited_by_519941"></span></span>
</div>
<div class="post_body scaleimages" id="pid_519941">
					cme ldap  -u d.klay -d absolute.htb -k --kdcHost dc.absolute.htb --users
				</div>
<div class="post_meta" id="post_meta_519941">
<div class="float_right">
</div>
</div>