<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=520320#pid520320" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=520320#pid520320" title="RE: Absolute - HTB [Discussion]">#33</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 11:47 AM <span class="post_edit" id="edited_by_520320"></span></span>
</div>
<div class="post_body scaleimages" id="pid_520320">
					with svc_smb you can access share and get compile.sh and test.exe
				</div>
<div class="post_meta" id="post_meta_520320">
<div class="float_right">
</div>
</div>