<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=520841#pid520841" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=520841#pid520841" title="RE: Absolute - HTB [Discussion]">#36</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 01:00 PM <span class="post_edit" id="edited_by_520841"></span></span>
</div>
<div class="post_body scaleimages" id="pid_520841">
					make sure you exported KRB5CCNAME first
				</div>
<div class="post_meta" id="post_meta_520841">
<div class="float_right">
</div>
</div>