<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=520953#pid520953" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=520953#pid520953" title="RE: Absolute - HTB [Discussion]">#37</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 01:18 PM <span class="post_edit" id="edited_by_520953">
<span class="edited_post">(This post was last modified: <span title="September 25, 2022">Yesterday</span>, 01:25 PM by <a href="https://breached.to/User-Hacker2222">Hacker2222</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_520953">
					d.klay : Darkmoonsky248girl get with asrepraost on usernames in metadata of website pics ..<br>
svc_smb : AbsoluteSMBService123! get with ldap description with crackmapexec ldap<br>
m.lovegod : AbsoluteLDAP2022! get with finding file in smb share (test.exe) run in windows with vpn to machine. look at wireshark<br>
<br/>
next user is prob winrm_user from ldap.<br/>
<hr class="mycode_hr"/>
next step is prob guessing next user password ......... previous passes have pattern...............
				</br></br></br></div>
<div class="post_meta" id="post_meta_520953">
<div class="float_right">
</div>
</div>