<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=522159#pid522159" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=522159#pid522159" title="RE: Absolute - HTB [Discussion]">#38</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 03:43 PM <span class="post_edit" id="edited_by_522159">
<span class="edited_post">(This post was last modified: <span title="September 25, 2022">Yesterday</span>, 03:44 PM by <a href="https://breached.to/User-Photographer">Photographer</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_522159">
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 11:47 AM)</span>yumi Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=520320#pid520320" rel="nofollow"></a></cite>with svc_smb you can access share and get compile.sh and test.exe</blockquote><br>
which tool did you use? every tool i try just gives me errors with -k and with password
				</br></div>
<div class="post_meta" id="post_meta_522159">
<div class="float_right">
</div>
</div>