<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=522552#pid522552" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=522552#pid522552" title="RE: Absolute - HTB [Discussion]">#42</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 04:36 PM <span class="post_edit" id="edited_by_522552">
<span class="edited_post">(This post was last modified: <span title="September 25, 2022">Yesterday</span>, 04:37 PM by <a href="https://breached.to/User-Hacker2222">Hacker2222</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_522552">
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 04:35 PM)</span>bodiesplus Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=522545#pid522545" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 03:52 PM)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=522231#pid522231" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 03:43 PM)</span>Photographer Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=522159#pid522159" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 11:47 AM)</span>yumi Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=520320#pid520320" rel="nofollow"></a></cite>with svc_smb you can access share and get compile.sh and test.exe</blockquote><br>
which tool did you use? every tool i try just gives me errors with -k and with password</br></blockquote><br>
use crackmapexec without pass ........ or impacket-smbcleint with -no-pass</br></blockquote><br>
It does not work for me either.<br/>
<br/>
I keep getting absolute.htb\svc_smb:xxxxxxxxxxx STATUS_ACCOUNT_RESTRICTION</br></blockquote>u are not using kerberos ................................ why am i helping u noobs. ......................................<br/>
<hr class="mycode_hr"/>
only use kerberos ntlm is not allowed
				</div>
<div class="post_meta" id="post_meta_522552">
<div class="float_right">
</div>
</div>