<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=523090#pid523090" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=523090#pid523090" title="RE: Absolute - HTB [Discussion]">#43</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 06:03 PM <span class="post_edit" id="edited_by_523090"></span></span>
</div>
<div class="post_body scaleimages" id="pid_523090">
					Hello, <br>
<br>
Via bloodhound :  m.lovegod -- OWNS --&gt; Group Network Audit -- Generic Write --&gt; winrm_user
				</br></br></div>
<div class="post_meta" id="post_meta_523090">
<div class="float_right">
</div>
</div>