<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=523157#pid523157" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=523157#pid523157" title="RE: Absolute - HTB [Discussion]">#44</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 06:16 PM <span class="post_edit" id="edited_by_523157"></span></span>
</div>
<div class="post_body scaleimages" id="pid_523157">
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 06:03 PM)</span>jahman Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523090#pid523090" rel="nofollow"></a></cite>Hello, <br>
<br>
Via bloodhound :  m.lovegod -- OWNS --&gt; Group Network Audit -- Generic Write --&gt; winrm_user</br></br></blockquote><br>
i see .... how to exploit tho ?
				</br></div>
<div class="post_meta" id="post_meta_523157">
<div class="float_right">
</div>
</div>