<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=523223#pid523223" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=523223#pid523223" title="RE: Absolute - HTB [Discussion]">#46</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 06:24 PM <span class="post_edit" id="edited_by_523223"></span></span>
</div>
<div class="post_body scaleimages" id="pid_523223">
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 04:32 PM)</span>technic Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=522515#pid522515" rel="nofollow"></a></cite>the ldap entry of winrm_user contains msDS-KeyCredentialLink &amp; userCertificate, not sure if it is useful.<br>
<br>
<div class="codeblock"><div class="body" dir="ltr"><code>X509v3 Extended Key Usage:<br>
    TLS Web Client Authentication, TLS Web Server Authentication<br/>
X509v3 Key Usage: critical<br/>
    Digital Signature, Key Encipherment</br></code></div></div></br></br></blockquote><br/>
How did you enumerate this exactly? I tried enumerating ldap with ldapsearch and I keep getting error "Matching credential not found"
				</div>
<div class="post_meta" id="post_meta_523223">
<div class="float_right">
</div>
</div>