<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=523482#pid523482" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=523482#pid523482" title="RE: Absolute - HTB [Discussion]">#49</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 07:09 PM <span class="post_edit" id="edited_by_523482"></span></span>
</div>
<div class="post_body scaleimages" id="pid_523482">
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 06:35 PM)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523280#pid523280" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 06:21 PM)</span>user_htb22 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523205#pid523205" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 04:35 PM)</span>bodiesplus Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=522545#pid522545" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 03:52 PM)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=522231#pid522231" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 03:43 PM)</span>Photographer Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=522159#pid522159" rel="nofollow"></a></cite>which tool did you use? every tool i try just gives me errors with -k and with password</blockquote><br>
use crackmapexec without pass ........ or impacket-smbcleint with -no-pass</br></blockquote><br>
It does not work for me either.<br>
<br/>
I keep getting absolute.htb\svc_smb:xxxxxxxxxxx STATUS_ACCOUNT_RESTRICTION</br></br></blockquote>same error<br/>
<br/>
$ impacket-smbclient <a href="mailto:svb_smb@10.129.214.33">svb_smb@10.129.214.33</a> -k -no-pass<br/>
Impacket v0.9.24 - Copyright 2021 SecureAuth Corporation<br/>
<br/>
[-] Kerberos SessionError: KDC_ERR_S_PRINCIPAL_UNKNOWN(Server not found in Kerberos database)</blockquote>kerberos needs host names, not ips ..............</blockquote><br/>
Did you got user already ?
				</div>
<div class="post_meta" id="post_meta_523482">
<div class="float_right">
</div>
</div>