<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=523695#pid523695" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=523695#pid523695" title="RE: Absolute - HTB [Discussion]">#54</a></strong>
</div>
</div>
<span class="post_date">September 25, 2022, 07:48 PM <span class="post_edit" id="edited_by_523695"></span></span>
</div>
<div class="post_body scaleimages" id="pid_523695">
<blockquote class="mycode_quote"><cite><span> (September 25, 2022, 07:37 PM)</span>Photographer Wrote:  <a class="quick_jump" href="https://breached.to/post-523651.html#pid523651"></a></cite><blockquote class="mycode_quote"><cite><span> (September 25, 2022, 07:32 PM)</span>fl0mms Wrote:  <a class="quick_jump" href="https://breached.to/post-523620.html#pid523620"></a></cite>do you need to be in sync? If so, I need help with the synchronization of the clock with the machine.</blockquote><br>
install ntpdate<br>
<br>
sudo ntpdate absolute.htb<br/>
<hr class="mycode_hr"/></br></br></br></blockquote>I did it but it doesn't change anything.
<div class="postbit-ban-alert rounded">
<strong>This forum account is currently banned.</strong> Ban Length: (Permanent).
<br/><strong>Ban Reason</strong>: Automated ban, Detected spamming. Confidence: 100% | BanType: EmptyQuote
</div>
</div>
<div class="post_meta" id="post_meta_523695">
<div class="float_right">
</div>
</div>