<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=523620#pid523620" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=523620#pid523620" title="RE: Absolute - HTB [Discussion]">#52</a></strong>
</div>
</div>
<span class="post_date">September 25, 2022, 07:32 PM <span class="post_edit" id="edited_by_523620"></span></span>
</div>
<div class="post_body scaleimages" id="pid_523620">
					do you need to be in sync? If so, I need help with the synchronization of the clock with the machine.
<div class="postbit-ban-alert rounded">
<strong>This forum account is currently banned.</strong> Ban Length: (Permanent).
<br/><strong>Ban Reason</strong>: Automated ban, Detected spamming. Confidence: 100% | BanType: EmptyQuote
</div>
</div>
<div class="post_meta" id="post_meta_523620">
<div class="float_right">
</div>
</div>