<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=523651#pid523651" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=523651#pid523651" title="RE: Absolute - HTB [Discussion]">#54</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 07:37 PM <span class="post_edit" id="edited_by_523651">
<span class="edited_post">(This post was last modified: <span title="September 25, 2022">Yesterday</span>, 07:39 PM by <a href="https://breached.to/User-Photographer">Photographer</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_523651">
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 07:32 PM)</span>fl0mms Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523620#pid523620" rel="nofollow"></a></cite>do you need to be in sync? If so, I need help with the synchronization of the clock with the machine.</blockquote><br>
install ntpdate<br>
<br>
sudo ntpdate absolute.htb<br/>
<hr class="mycode_hr"/>
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 07:32 PM)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523614#pid523614" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 07:25 PM)</span>user_htb22 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523566#pid523566" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 06:35 PM)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523280#pid523280" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 06:21 PM)</span>user_htb22 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523205#pid523205" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 04:35 PM)</span>bodiesplus Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=522545#pid522545" rel="nofollow"></a></cite>It does not work for me either.<br/>
<br/>
I keep getting absolute.htb\svc_smb:xxxxxxxxxxx STATUS_ACCOUNT_RESTRICTION</blockquote>same error<br/>
<br/>
$ impacket-smbclient <a href="mailto:svb_smb@10.129.214.33">svb_smb@10.129.214.33</a> -k -no-pass<br/>
Impacket v0.9.24 - Copyright 2021 SecureAuth Corporation<br/>
<br/>
[-] Kerberos SessionError: KDC_ERR_S_PRINCIPAL_UNKNOWN(Server not found in Kerberos database)</blockquote>kerberos needs host names, not ips ..............</blockquote>$ export KRB5CCNAME=svc_smb.ccache <br/>
$ impacket-smbclient <a href="mailto:svb_smb@absolute.htb">svb_smb@absolute.htb</a> -k -no-pass<br/>
Impacket v0.9.24 - Copyright 2021 SecureAuth Corporation<br/>
<br/>
[-] SMB SessionError: STATUS_MORE_PROCESSING_REQUIRED({Still Busy} The specified I/O request packet (IRP) cannot be disposed of because the I/O operation is not complete.)</blockquote><br/>
maybe set KRB5CCNAME to absolute path of file ..... hehe</blockquote><br/>
my KRB5CCNAME is on the absolute path  but i get the same error.
				</br></br></br></div>
<div class="post_meta" id="post_meta_523651">
<div class="float_right">
</div>
</div>