<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=523738#pid523738" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=523738#pid523738" title="RE: Absolute - HTB [Discussion]">#59</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 07:55 PM <span class="post_edit" id="edited_by_523738"></span></span>
</div>
<div class="post_body scaleimages" id="pid_523738">
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 07:49 PM)</span>user_htb22 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523702#pid523702" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 07:48 PM)</span>fl0mms Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523695#pid523695" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 07:37 PM)</span>Photographer Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523651#pid523651" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 07:32 PM)</span>fl0mms Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523620#pid523620" rel="nofollow"></a></cite>do you need to be in sync? If so, I need help with the synchronization of the clock with the machine.</blockquote><br>
install ntpdate<br>
<br>
sudo ntpdate absolute.htb<br/>
<hr class="mycode_hr"/></br></br></br></blockquote>I did it but it doesn't change anything.</blockquote>sudo timedatectl set-ntp false<br/>
sudo ntpdate -s absolute.htb<br/>
<br/>
watch the time change</blockquote>thx bro <img alt="Heart" class="smilie smilie_16" src="https://breached.to/images/smilies/heart.png" title="Heart"/>
</div>
<div class="post_meta" id="post_meta_523738">
<div class="float_right">
</div>
</div>