<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=523849#pid523849" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=523849#pid523849" title="RE: Absolute - HTB [Discussion]">#60</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 08:15 PM <span class="post_edit" id="edited_by_523849">
<span class="edited_post">(This post was last modified: <span title="September 25, 2022">Yesterday</span>, 08:17 PM by <a href="https://breached.to/User-user-htb22">user_htb22</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_523849">
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 07:55 PM)</span>fl0mms Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523738#pid523738" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 07:49 PM)</span>user_htb22 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523702#pid523702" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 07:48 PM)</span>fl0mms Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523695#pid523695" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 07:37 PM)</span>Photographer Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523651#pid523651" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 07:32 PM)</span>fl0mms Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523620#pid523620" rel="nofollow"></a></cite>do you need to be in sync? If so, I need help with the synchronization of the clock with the machine.</blockquote><br>
install ntpdate<br>
<br>
sudo ntpdate absolute.htb<br/>
<hr class="mycode_hr"/></br></br></br></blockquote>I did it but it doesn't change anything.</blockquote>sudo timedatectl set-ntp false<br/>
sudo ntpdate -s absolute.htb<br/>
<br/>
watch the time change</blockquote>thx bro <img alt="Heart" class="smilie smilie_16" src="https://breached.to/images/smilies/heart.png" title="Heart"/></blockquote><br/>
U +welcome<br/>
<hr class="mycode_hr"/>
$./getTGT.py absolute.htb/svc_smb:AbsoluteSMBService123!<br/>
Impacket v0.9.24 - Copyright 2021 SecureAuth Corporation<br/>
<br/>
[*] Saving ticket in svc_smb.ccache<br/>
<br/>
$ export KRB5CCNAME=svc_smb.ccache <br/>
<br/>
$ ./smbclient.py <a href="mailto:svb_smb@absolute.htb">svb_smb@absolute.htb</a> -k -no-pass -debug<br/>
Impacket v0.9.24 - Copyright 2021 SecureAuth Corporation<br/>
<br/>
[+] Impacket Library Installation Path: /home/fr/.local/lib/python3.10/site-packages/impacket<br/>
[+] Using Kerberos Cache: svc_smb.ccache<br/>
[+] Domain retrieved from CCache: ABSOLUTE.HTB<br/>
[+] SPN CIFS/<a href="mailto:ABSOLUTE.HTB@ABSOLUTE.HTB">ABSOLUTE.HTB@ABSOLUTE.HTB</a> not found in cache<br/>
[+] AnySPN is True, looking for another suitable SPN<br/>
[+] Returning cached credential for KRBTGT/<a href="mailto:ABSOLUTE.HTB@ABSOLUTE.HTB">ABSOLUTE.HTB@ABSOLUTE.HTB</a><br/>
[+] Changing sname from krbtgt/<a href="mailto:ABSOLUTE.HTB@ABSOLUTE.HTB">ABSOLUTE.HTB@ABSOLUTE.HTB</a> to cifs/<a href="mailto:ABSOLUTE.HTB@ABSOLUTE.HTB">ABSOLUTE.HTB@ABSOLUTE.HTB</a> and hoping for the best<br/>
[+] Using TGS from cache<br/>
Traceback (most recent call last):<br/>
  File "/home/fr/.local/lib/python3.10/site-packages/impacket/smbconnection.py", line 353, in kerberosLogin<br/>
    return self._SMBConnection.kerberosLogin(user, password, domain, lmhash, nthash, aesKey, kdcHost, TGT,<br/>
  File "/home/fr/.local/lib/python3.10/site-packages/impacket/smb3.py", line 751, in kerberosLogin<br/>
    if ans.isValidAnswer(STATUS_SUCCESS):<br/>
  File "/home/fr/.local/lib/python3.10/site-packages/impacket/smb3structs.py", line 458, in isValidAnswer<br/>
    raise smb3.SessionError(self['Status'], self)<br/>
impacket.smb3.SessionError: SMB SessionError: STATUS_MORE_PROCESSING_REQUIRED({Still Busy} The specified I/O request packet (IRP) cannot be disposed of because the I/O operation is not complete.)<br/>
<br/>
During handling of the above exception, another exception occurred:<br/>
<br/>
Traceback (most recent call last):<br/>
  File "/home/fr/Documents/GitProjects/impacket/examples/./smbclient.py", line 100, in main<br/>
    smbClient.kerberosLogin(username, password, domain, lmhash, nthash, options.aesKey, options.dc_ip )<br/>
  File "/home/fr/.local/lib/python3.10/site-packages/impacket/smbconnection.py", line 356, in kerberosLogin<br/>
    raise SessionError(e.get_error_code(), e.get_error_packet())<br/>
impacket.smbconnection.SessionError: SMB SessionError: STATUS_MORE_PROCESSING_REQUIRED({Still Busy} The specified I/O request packet (IRP) cannot be disposed of because the I/O operation is not complete.)<br/>
[-] SMB SessionError: STATUS_MORE_PROCESSING_REQUIRED({Still Busy} The specified I/O request packet (IRP) cannot be disposed of because the I/O operation is not complete.)
				</div>
<div class="post_meta" id="post_meta_523849">
<div class="float_right">
</div>
</div>