<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=523933#pid523933" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=523933#pid523933" title="RE: Absolute - HTB [Discussion]">#61</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022">Yesterday</span>, 08:30 PM <span class="post_edit" id="edited_by_523933"></span></span>
</div>
<div class="post_body scaleimages" id="pid_523933">
					So amazing
				</div>
<div class="post_meta" id="post_meta_523933">
<div class="float_right">
</div>
</div>