<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=524681#pid524681" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=524681#pid524681" title="RE: Absolute - HTB [Discussion]">#69</a></strong>
</div>
</div>
<span class="post_date"><span title="September 26, 2022, 12:11 AM">9 hours ago</span> <span class="post_edit" id="edited_by_524681"></span></span>
</div>
<div class="post_body scaleimages" id="pid_524681">
<blockquote class="mycode_quote"><cite><span> (<span title="September 26, 2022, 12:09 AM">9 hours ago</span>)</span>jahman Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=524680#pid524680" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 26, 2022, 12:02 AM">9 hours ago</span>)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=524658#pid524658" rel="nofollow"></a></cite>i think commandovm didn't install rsat  ....................... maybe that its it</blockquote><br>
    <br>
<br>
Add-DomainObjectAcl is a powerview function. is your DNS client configured to  the box?<br/>
<br/>
    <br/>
Add-ADPrincipalGroupMembership is a rsat-powershell</br></br></br></blockquote>i added dc.absolute.htb and absolute.htb to hosts file in windows .... seems i can use other powerview functions. says wrong pass or user tho
				</div>
<div class="post_meta" id="post_meta_524681">
<div class="float_right">
</div>
</div>