<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=524658#pid524658" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=524658#pid524658" title="RE: Absolute - HTB [Discussion]">#67</a></strong>
</div>
</div>
<span class="post_date"><span title="September 26, 2022, 12:02 AM">9 hours ago</span> <span class="post_edit" id="edited_by_524658"></span></span>
</div>
<div class="post_body scaleimages" id="pid_524658">
					i think commandovm didn't install rsat  ....................... maybe that its it
				</div>
<div class="post_meta" id="post_meta_524658">
<div class="float_right">
</div>
</div>