<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=526624#pid526624" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=526624#pid526624" title="RE: Absolute - HTB [Discussion]">#71</a></strong>
</div>
</div>
<span class="post_date"><span title="September 26, 2022, 07:56 AM">6 hours ago</span> <span class="post_edit" id="edited_by_526624"></span></span>
</div>
<div class="post_body scaleimages" id="pid_526624">
					I need some suggestion/help I already got the test.exe credentials now I don't know what to do next.. :/
				</div>
<div class="post_meta" id="post_meta_526624">
<div class="float_right">
</div>
</div>