<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=528264#pid528264" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=528264#pid528264" title="RE: Absolute - HTB [Discussion]">#71</a></strong>
</div>
</div>
<span class="post_date"><span title="September 26, 2022, 01:14 PM">10 hours ago</span> <span class="post_edit" id="edited_by_528264">
<span class="edited_post">(This post was last modified: <span title="September 26, 2022, 01:14 PM">10 hours ago</span> by <a href="https://breached.to/User-Exa">Exa</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_528264">
					If anyone else gets this error when running crackmapexec ldap -k --kdcHost ...:<br>
<br>
<div class="codeblock"><div class="body" dir="ltr"><code>TypeError: ldap.kerberos_login() missing 1 required positional argument: 'kdcHost'</code></div></div><br>
Turns out there is a bug in crackmapexec 5.2.2: <a class="mycode_url" href="https://pythontechworld.com/issue/byt3bl33d3r/crackmapexec/524" rel="noopener" target="_blank">https://pythontechworld.com/issue/byt3bl...apexec/524</a><br/>
This version comes preinstalled with Kali.<br/>
Using cme 5.3.0 downloaded from Github works fine.
				</br></br></br></div>
<div class="post_meta" id="post_meta_528264">
<div class="float_right">
</div>
</div>