<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=529533#pid529533" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=529533#pid529533" title="RE: Absolute - HTB [Discussion]">#73</a></strong>
</div>
</div>
<span class="post_date"><span title="September 26, 2022">Yesterday</span>, 04:02 PM <span class="post_edit" id="edited_by_529533"></span></span>
</div>
<div class="post_body scaleimages" id="pid_529533">
<blockquote class="mycode_quote"><cite><span> (<span title="September 26, 2022">Yesterday</span>, 12:02 AM)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=524658#pid524658" rel="nofollow"></a></cite>i think commandovm didn't install rsat  ....................... maybe that its it</blockquote><br>
Win10 Home Edition. no RSAT <img alt="Sad" class="smilie smilie_8" src="https://breached.to/images/smilies/sad.png" title="Sad"/>
</br></div>
<div class="post_meta" id="post_meta_529533">
<div class="float_right">
</div>
</div>