<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=531279#pid531279" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=531279#pid531279" title="RE: Absolute - HTB [Discussion]">#75</a></strong>
</div>
</div>
<span class="post_date"><span title="September 26, 2022, 09:19 PM">1 hour ago</span> <span class="post_edit" id="edited_by_531279"></span></span>
</div>
<div class="post_body scaleimages" id="pid_531279">
<blockquote class="mycode_quote"><cite><span> (<span title="September 25, 2022">Yesterday</span>, 06:03 PM)</span>jahman Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523090#pid523090" rel="nofollow"></a></cite>Hello, <br>
<br>
Via bloodhound :  m.lovegod -- OWNS --&gt; Group Network Audit -- Generic Write --&gt; winrm_user</br></br></blockquote><br>
How did you collected the data? With every version of Bloodhound ingestor i ran into a "Failure to authenticate with LDAP". Using <br/>
<div class="hidden-content">
<div class="hidden-content__title"><strong>Hidden Content</strong><i class="fa fa-eye" style="float:right;color: var(--theme-secondary-color);" title="This thread has been unlocked by 0 users."></i></div>
<div class="hidden-content__main">
    m.lovegod<br/>
</div>
</div>
 and his password.<br/>
<br/>
Bloodhound.py | Sharphound.ps1 | Sharphound.exe<br/>
<br/>
is failing.
				</br></div>
<div class="post_meta" id="post_meta_531279">
<div class="float_right">
</div>
</div>