<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=532804#pid532804" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=532804#pid532804" title="RE: Absolute - HTB [Discussion]">#78</a></strong>
</div>
</div>
<span class="post_date"><span title="September 27, 2022, 02:52 AM">5 hours ago</span> <span class="post_edit" id="edited_by_532804"></span></span>
</div>
<div class="post_body scaleimages" id="pid_532804">
					Thanks
				</div>
<div class="post_meta" id="post_meta_532804">
<div class="float_right">
</div>
</div>