<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=532974#pid532974" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=532974#pid532974" title="RE: Absolute - HTB [Discussion]">#79</a></strong>
</div>
</div>
<span class="post_date"><span title="September 27, 2022, 03:18 AM">5 hours ago</span> <span class="post_edit" id="edited_by_532974"></span></span>
</div>
<div class="post_body scaleimages" id="pid_532974">
					the found ldap credential cannot be used for ldap login, as it only supports the following<br>
<br>
Supported SASL mechanisms: <br>
    GSSAPI, GSS-SPNEGO, EXTERNAL, DIGEST-MD5
				</br></br></br></div>
<div class="post_meta" id="post_meta_532974">
<div class="float_right">
</div>
</div>