<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=533105#pid533105" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=533105#pid533105" title="RE: Absolute - HTB [Discussion]">#80</a></strong>
</div>
</div>
<span class="post_date"><span title="September 27, 2022, 03:37 AM">11 hours ago</span> <span class="post_edit" id="edited_by_533105"></span></span>
</div>
<div class="post_body scaleimages" id="pid_533105">
<img alt="Heart" class="smilie smilie_16" src="https://breached.to/images/smilies/heart.png" title="Heart"/>
</div>
<div class="post_meta" id="post_meta_533105">
<div class="float_right">
</div>
</div>