<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=534199#pid534199" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=534199#pid534199" title="RE: Absolute - HTB [Discussion]">#81</a></strong>
</div>
</div>
<span class="post_date"><span title="September 27, 2022, 06:25 AM">2 hours ago</span> <span class="post_edit" id="edited_by_534199"></span></span>
</div>
<div class="post_body scaleimages" id="pid_534199">
					Is someone got user ?
				</div>
<div class="post_meta" id="post_meta_534199">
<div class="float_right">
</div>
</div>