<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=534310#pid534310" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=534310#pid534310" title="RE: Absolute - HTB [Discussion]">#82</a></strong>
</div>
</div>
<span class="post_date"><span title="September 27, 2022, 06:43 AM">2 hours ago</span> <span class="post_edit" id="edited_by_534310"></span></span>
</div>
<div class="post_body scaleimages" id="pid_534310">
<blockquote class="mycode_quote"><cite><span> (September 25, 2022, 07:25 PM)</span>user_htb22 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523566#pid523566" rel="nofollow"></a></cite>$ export KRB5CCNAME=svc_smb.ccache <br>
$ impacket-smbclient <a href="mailto:svb_smb@absolute.htb">svb_smb@absolute.htb</a> -k -no-pass<br>
Impacket v0.9.24 - Copyright 2021 SecureAuth Corporation<br>
<br/>
[-] SMB SessionError: STATUS_MORE_PROCESSING_REQUIRED({Still Busy} The specified I/O request packet (IRP) cannot be disposed of because the I/O operation is not complete.)</br></br></br></blockquote><br/>
I got the same error, both with smbclient.py and crackmapexec. I made sure my clock is synchronized with the DC. Without synchronization I would get this error: KRB_AP_ERR_SKEW(Clock skew too great).<br/>
<br/>
These are the commands I used:<br/>
<br/>
<div class="codeblock"><div class="body" dir="ltr"><code>sudo ntpdate absolute.htb<br/>
getTGT.py -dc-ip dc.absolute.htb absolute.htb/svc_smb:#########<br/>
export KRB5CCNAME=svc_smb.ccache<br/>
smbclient.py -dc-ip dc.absolute.htb -k absolute.htb</code></div></div><br/>
Does anyone has an idea why this is happening?
				</div>
<div class="post_meta" id="post_meta_534310">
<div class="float_right">
</div>
</div>