<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=535292#pid535292" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=535292#pid535292" title="RE: Absolute - HTB [Discussion]">#86</a></strong>
</div>
</div>
<span class="post_date"><span title="September 27, 2022, 09:15 AM">6 hours ago</span> <span class="post_edit" id="edited_by_535292"></span></span>
</div>
<div class="post_body scaleimages" id="pid_535292">
					Fake?
				</div>
<div class="post_meta" id="post_meta_535292">
<div class="float_right">
</div>
</div>