<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=535231#pid535231" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=535231#pid535231" title="RE: Absolute - HTB [Discussion]">#85</a></strong>
</div>
</div>
<span class="post_date"><span title="September 27, 2022, 09:03 AM">6 hours ago</span> <span class="post_edit" id="edited_by_535231"></span></span>
</div>
<div class="post_body scaleimages" id="pid_535231">
<blockquote class="mycode_quote"><cite><span> (<span title="September 27, 2022, 08:48 AM">6 hours ago</span>)</span>ThatUsername Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=535149#pid535149" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 27, 2022, 07:16 AM">8 hours ago</span>)</span>user_htb22 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=534538#pid534538" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 27, 2022, 06:43 AM">8 hours ago</span>)</span>Exa Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=534310#pid534310" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (September 25, 2022, 07:25 PM)</span>user_htb22 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523566#pid523566" rel="nofollow"></a></cite>$ export KRB5CCNAME=svc_smb.ccache <br>
$ impacket-smbclient <a href="mailto:svb_smb@absolute.htb">svb_smb@absolute.htb</a> -k -no-pass<br>
Impacket v0.9.24 - Copyright 2021 SecureAuth Corporation<br>
<br/>
[-] SMB SessionError: STATUS_MORE_PROCESSING_REQUIRED({Still Busy} The specified I/O request packet (IRP) cannot be disposed of because the I/O operation is not complete.)</br></br></br></blockquote><br/>
I got the same error, both with smbclient.py and crackmapexec. I made sure my clock is synchronized with the DC. Without synchronization I would get this error: KRB_AP_ERR_SKEW(Clock skew too great).<br/>
<br/>
These are the commands I used:<br/>
<br/>
<div class="codeblock"><div class="body" dir="ltr"><code>sudo ntpdate absolute.htb<br/>
getTGT.py -dc-ip dc.absolute.htb absolute.htb/svc_smb:#########<br/>
export KRB5CCNAME=svc_smb.ccache<br/>
smbclient.py -dc-ip dc.absolute.htb -k absolute.htb</code></div></div><br/>
Does anyone has an idea why this is happening?</blockquote>timedatectl set-ntp false<br/>
sudo ntpdate absolute.htb<br/>
watch u r time<br/>
<br/>
smbclient won't work u need kerbores auth<br/>
<br/>
export KRB5CCNAME=svc_smb.ccache<br/>
use cme smb or impacket smbclient<br/>
<hr class="mycode_hr"/>
<blockquote class="mycode_quote"><cite><span> (<span title="September 26, 2022">Yesterday</span>, 09:19 PM)</span>ThatUsername Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=531279#pid531279" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (September 25, 2022, 06:03 PM)</span>jahman Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523090#pid523090" rel="nofollow"></a></cite>Hello, <br/>
<br/>
Via bloodhound :  m.lovegod -- OWNS --&gt; Group Network Audit -- Generic Write --&gt; winrm_user</blockquote><br/>
How did you collected the data? With every version of Bloodhound ingestor i ran into a "Failure to authenticate with LDAP". Using  and his password.<br/>
<br/>
Bloodhound.py | Sharphound.ps1 | Sharphound.exe<br/>
<br/>
is failing.</blockquote>i use this<br/>
<br/>
git clone <a class="mycode_url" href="https://github.com/jazzpizazz/BloodHound.py-Kerberos.git" rel="noopener" target="_blank">https://github.com/jazzpizazz/BloodHound...rberos.git</a><br/>
cd BloodHound.py-Kerberos/<br/>
export KRB5CCNAME=m.lovegod.ccache<br/>
./bloodhound.py -u m.lovegod -k -d absolute.htb -dc dc.absolute.htb -ns 10.129.214.131 --dns-tcp --zip -no-pass -c All</blockquote><br/>
yeah, tested this version too. Worked flawlessly.</blockquote>did u get winrm_user password ?
				</div>
<div class="post_meta" id="post_meta_535231">
<div class="float_right">
</div>
</div>