<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=540392#pid540392" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=540392#pid540392" title="RE: Absolute - HTB [Discussion]">#91</a></strong>
</div>
</div>
<span class="post_date"><span title="September 27, 2022, 09:54 PM">3 hours ago</span> <span class="post_edit" id="edited_by_540392">
<span class="edited_post">(This post was last modified: <span title="September 27, 2022, 09:55 PM">3 hours ago</span> by <a href="https://breached.to/User-Hacker2222">Hacker2222</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_540392">
					with bloodhound result u can see path to winrmuser u need to add lovegod user to the group .then use genericwrite to edit shadow creds of winrmuser. just dont know how to add lovegod to group.  ............ tried windows powerview but isnt working..................<br>
<hr class="mycode_hr"/>
if someone finds how to add user to group . then u can prob use pywhisker to edit shadow cred
				</br></div>
<div class="post_meta" id="post_meta_540392">
<div class="float_right">
</div>
</div>