<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=540809#pid540809" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=540809#pid540809" title="RE: Absolute - HTB [Discussion]">#92</a></strong>
</div>
</div>
<span class="post_date"><span title="September 27, 2022, 11:47 PM">7 hours ago</span> <span class="post_edit" id="edited_by_540809">
<span class="edited_post">(This post was last modified: <span title="September 28, 2022, 12:12 AM">6 hours ago</span> by <a href="https://breached.to/User-samhub123">samhub123</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_540809">
<blockquote class="mycode_quote"><cite><span> (<span title="September 27, 2022, 09:54 PM">9 hours ago</span>)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=540392#pid540392" rel="nofollow"></a></cite>with bloodhound result u can see path to winrmuser u need to add lovegod user to the group .then use genericwrite to edit shadow creds of winrmuser. just dont know how to add lovegod to group.  ............ tried windows powerview but isnt working..................<br>
<hr class="mycode_hr"/>
if someone finds how to add user to group . then u can prob use pywhisker to edit shadow cred</br></blockquote><br>
I was successfully able to add m.lovegod to the "network audit" group. But when i changed serviceprincipal name for the winrm_user I still get access denied.<br>
<br/>
Also, could not modify object via pywhisker
				</br></br></div>
<div class="post_meta" id="post_meta_540809">
<div class="float_right">
</div>
</div>