<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=540910#pid540910" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=540910#pid540910" title="RE: Absolute - HTB [Discussion]">#94</a></strong>
</div>
</div>
<span class="post_date"><span title="September 28, 2022, 12:18 AM">6 hours ago</span> <span class="post_edit" id="edited_by_540910"></span></span>
</div>
<div class="post_body scaleimages" id="pid_540910">
<blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022, 12:13 AM">6 hours ago</span>)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=540892#pid540892" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 27, 2022, 11:47 PM">7 hours ago</span>)</span>samhub123 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=540809#pid540809" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 27, 2022, 09:54 PM">9 hours ago</span>)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=540392#pid540392" rel="nofollow"></a></cite>with bloodhound result u can see path to winrmuser u need to add lovegod user to the group .then use genericwrite to edit shadow creds of winrmuser. just dont know how to add lovegod to group.  ............ tried windows powerview but isnt working..................<br>
<hr class="mycode_hr"/>
if someone finds how to add user to group . then u can prob use pywhisker to edit shadow cred</br></blockquote><br>
I was successfully able to add m.lovegod to the "network audit" group. But when i changed serviceprincipal name for the winrm_user I still get access denied.<br>
<br/>
Also, could not modify object via pywhisker</br></br></blockquote><br/>
u run gettgt again ? maybe u need to refresh tgt .......... how do u add to network audit group ??? what command ?<br/>
<hr class="mycode_hr"/>
<blockquote class="mycode_quote"><cite><span> (<span title="September 27, 2022, 11:47 PM">7 hours ago</span>)</span>samhub123 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=540809#pid540809" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 27, 2022, 09:54 PM">9 hours ago</span>)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=540392#pid540392" rel="nofollow"></a></cite>with bloodhound result u can see path to winrmuser u need to add lovegod user to the group .then use genericwrite to edit shadow creds of winrmuser. just dont know how to add lovegod to group.  ............ tried windows powerview but isnt working..................<br/>
<hr class="mycode_hr"/>
if someone finds how to add user to group . then u can prob use pywhisker to edit shadow cred</blockquote><br/>
I was successfully able to add m.lovegod to the "network audit" group. But when i changed serviceprincipal name for the winrm_user I still get access denied.<br/>
<br/>
Also, could not modify object via pywhisker</blockquote><br/>
and check if user is actuall y in the group JAJAJAJA</blockquote><br/>
Yes they are,<br/>
<br/>
<blockquote class="mycode_quote"><cite>Quote:</cite>GroupDomain            : absolute.htb<br/>
GroupName              : Network Audit<br/>
GroupDistinguishedName  : CN=Network Audit,CN=Users,DC=absolute,DC=htb<br/>
MemberDomain            : absolute.htb<br/>
MemberName              : svc_audit<br/>
MemberDistinguishedName : CN=svc_audit,CN=Users,DC=absolute,DC=htb<br/>
MemberObjectClass      : user<br/>
MemberSID              : S-1-5-21-4078382237-1492182817-2568127209-1115<br/>
<br/>
GroupDomain            : absolute.htb<br/>
GroupName              : Network Audit<br/>
GroupDistinguishedName  : CN=Network Audit,CN=Users,DC=absolute,DC=htb<br/>
MemberDomain            : absolute.htb<br/>
MemberName              : m.lovegod<br/>
MemberDistinguishedName : CN=m.lovegod,CN=Users,DC=absolute,DC=htb<br/>
MemberObjectClass      : user<br/>
MemberSID              : S-1-5-21-4078382237-1492182817-2568127209-1109</blockquote>
<br/>
Ill try refreshing TGT and report back
				</div>
<div class="post_meta" id="post_meta_540910">
<div class="float_right">
</div>
</div>