<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=541370#pid541370" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=541370#pid541370" title="RE: Absolute - HTB [Discussion]">#96</a></strong>
</div>
</div>
<span class="post_date"><span title="September 28, 2022, 02:38 AM">4 hours ago</span> <span class="post_edit" id="edited_by_541370"></span></span>
</div>
<div class="post_body scaleimages" id="pid_541370">
<blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022, 02:16 AM">4 hours ago</span>)</span>samhub123 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=541292#pid541292" rel="nofollow"></a></cite>Okay, I was able to get ccahe file for winrm_user using pywhisker.<br>
From that I also got the NThash for winrm_user<br>
<br>
but using CME with hash and also with the ticket, it seems like I cannot access winrm using winrm_user</br></br></br></blockquote><br/>
if u have ccache file then just use evilwinrm?? how ddid u add lovegod to the group tho?
				</div>
<div class="post_meta" id="post_meta_541370">
<div class="float_right">
</div>
</div>