<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=541494#pid541494" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=541494#pid541494" title="RE: Absolute - HTB [Discussion]">#99</a></strong>
</div>
</div>
<span class="post_date"><span title="September 28, 2022, 03:05 AM">4 hours ago</span> <span class="post_edit" id="edited_by_541494">
<span class="edited_post">(This post was last modified: <span title="September 28, 2022, 03:07 AM">4 hours ago</span> by <a href="https://breached.to/User-meowmeowattack">meowmeowattack</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_541494">
					In case people haven't noticed yet, when setting up the domain from linux, ensure the realm is in all UPPER CASE and matches exactly with what the DC asks for. i figured that's why this box is call absolute.<br>
<br>
<div class="codeblock"><div class="body" dir="ltr"><code>python3 ~/tools/pywhisker/pywhisker.py -d ABSOLUTE.HTB -t m.lovegod -u <a href="mailto:m.lovegod@ABSOLUTE.HTB">m.lovegod@ABSOLUTE.HTB</a> -k --no-pass -a list<br>
 Searching for the target account Target user found: CN=m.lovegod,CN=Users,DC=absolute,DC=htb Attribute msDS-KeyCredentialLink is either empty or user does not have read permissions on that attribute<br/>
<br/>
cat /etc/krb5.conf           <br/>
[libdefaults]<br/>
        default_realm = ABSOLUTE.HTB<br/>
<br/>
[realms]<br/>
        ABSOLUTE.HTB = {<br/>
                kdc = DC.ABSOLUTE.HTB<br/>
                admin_server = ABSOLUTE.HTB<br/>
        }</br></code></div></div>
</br></br></div>
<div class="post_meta" id="post_meta_541494">
<div class="float_right">
</div>
</div>