<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=541694#pid541694" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=541694#pid541694" title="RE: Absolute - HTB [Discussion]">#104</a></strong>
</div>
</div>
<span class="post_date"><span title="September 28, 2022, 03:44 AM">3 hours ago</span> <span class="post_edit" id="edited_by_541694"></span></span>
</div>
<div class="post_body scaleimages" id="pid_541694">
					Two very interesting binaries in the C:/temp folder.<br>
<br>
one of them is KrbRelay.exe
				</br></br></div>
<div class="post_meta" id="post_meta_541694">
<div class="float_right">
</div>
</div>