<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=542964#pid542964" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=542964#pid542964" title="RE: Absolute - HTB [Discussion]">#106</a></strong>
</div>
</div>
<span class="post_date"><span title="September 28, 2022, 07:48 AM">9 hours ago</span> <span class="post_edit" id="edited_by_542964"></span></span>
</div>
<div class="post_body scaleimages" id="pid_542964">
					Tried KRBRelayUp attack but it fails on step 1 with error: <br>
<br>
<blockquote class="mycode_quote"><cite>Quote:</cite>[-] Could not add new computer account:<br>
[-] The server cannot handle directory requests.</br></blockquote>
<br/>
gonna take a short break now.
				</br></br></div>
<div class="post_meta" id="post_meta_542964">
<div class="float_right">
</div>
</div>