<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=543083#pid543083" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=543083#pid543083" title="RE: Absolute - HTB [Discussion]">#113</a></strong>
</div>
</div>
<span class="post_date"><span title="September 28, 2022, 08:10 AM">9 hours ago</span> <span class="post_edit" id="edited_by_543083"></span></span>
</div>
<div class="post_body scaleimages" id="pid_543083">
<blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022, 08:08 AM">9 hours ago</span>)</span>samhub123 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=543074#pid543074" rel="nofollow"></a></cite>I had absolute.htb and dc.absolute.htb on my windows hosts. Weird that it dosent work for everyone</blockquote><br>
lol, don't know. anyway, this is hacking, this is not building a product, so whatever works is a good work. thanks bro
				</br></div>
<div class="post_meta" id="post_meta_543083">
<div class="float_right">
</div>
</div>