<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=543074#pid543074" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=543074#pid543074" title="RE: Absolute - HTB [Discussion]">#112</a></strong>
</div>
</div>
<span class="post_date"><span title="September 28, 2022, 08:08 AM">9 hours ago</span> <span class="post_edit" id="edited_by_543074"></span></span>
</div>
<div class="post_body scaleimages" id="pid_543074">
					I had absolute.htb and dc.absolute.htb on my windows hosts. Weird that it dosent work for everyone
				</div>
<div class="post_meta" id="post_meta_543074">
<div class="float_right">
</div>
</div>