<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=543018#pid543018" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=543018#pid543018" title="RE: Absolute - HTB [Discussion]">#110</a></strong>
</div>
</div>
<span class="post_date"><span title="September 28, 2022, 07:58 AM">9 hours ago</span> <span class="post_edit" id="edited_by_543018"></span></span>
</div>
<div class="post_body scaleimages" id="pid_543018">
<blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022, 07:57 AM">9 hours ago</span>)</span>F4nny Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=543008#pid543008" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022, 07:56 AM">9 hours ago</span>)</span>samhub123 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=543002#pid543002" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022, 07:51 AM">9 hours ago</span>)</span>meowmeowattack Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=542979#pid542979" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022">Today</span>, 03:14 AM)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=541523#pid541523" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022">Today</span>, 02:49 AM)</span>samhub123 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=541427#pid541427" rel="nofollow"></a></cite>Let me know if you get winrm working.</blockquote>thanks ................... need to make windows server vm i think ........ commando vm cant run DomainObjectAcl  i guess ..... will catch up  <img alt="Tongue" class="smilie smilie_5" src="https://breached.to/images/smilies/tongue.png" title="Tongue"/></blockquote><br>
i re-installed a windows server 2019 from scratch and installed the activedirectory module, still getting password incorrect error with the powershell script above, so shouldn't be anything to do with the distribution. there might still be a setup issue.<br>
<br>
FYI, i did the following to setup the windows server:<br/>
* Install ActiveDirectory module<br/>
* Add hosts file entry for absolute.htb<br/>
* Change internet time server to absolute.htb<br/>
* Chagen network adatpr DNS server to the target DC IP<br/>
<br/>
<div class="codeblock"><div class="body" dir="ltr"><code>Exception calling "FindAll" with "0" argument(s): "The user name or password is incorrect.<br/>
"<br/>
At C:\tev\PowerView.ps1:6663 char:20<br/>
+             else { $Results = $ObjectSearcher.FindAll() }<br/>
+                    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br/>
    + CategoryInfo          : NotSpecified: (:) [], MethodInvocationException<br/>
    + FullyQualifiedErrorId : DirectoryServicesCOMException<br/>
<br/>
Unable to resolve principal: m.lovegod<br/>
At C:\tev\PowerView.ps1:8529 char:13<br/>
+             throw "Unable to resolve principal: $PrincipalIdentity"<br/>
+             ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br/>
    + CategoryInfo          : OperationStopped: (Unable to resolve principal: m.lovegod:String) [], RuntimeException<br/>
    + FullyQualifiedErrorId : Unable to resolve principal: m.lovegod</code></div></div></br></br></br></blockquote><br/>
what command you got that error on?</blockquote><br/>
Add-DomainObjectAcl -Credential $Cred -TargetIdentity "Network Audit" -Rights all -DomainController dc.absolute.htb  -principalidentity "m.lovegod"</blockquote><br/>
Try going in Control Panel to Date&amp;Time - Internet Time, and put the fqdn there and run a sync.
				</div>
<div class="post_meta" id="post_meta_543018">
<div class="float_right">
</div>
</div>