<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=543118#pid543118" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=543118#pid543118" title="RE: Absolute - HTB [Discussion]">#114</a></strong>
</div>
</div>
<span class="post_date"><span title="September 28, 2022, 08:16 AM">9 hours ago</span> <span class="post_edit" id="edited_by_543118"></span></span>
</div>
<div class="post_body scaleimages" id="pid_543118">
<blockquote class="mycode_quote"><cite><span> (September 24, 2022, 07:11 PM)</span>Exa Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=516002#pid516002" rel="nofollow"></a></cite>New machine from 2022-09-24.<br>
<br>
<div class="codeblock"><div class="body" dir="ltr"><code>PORT      STATE SERVICE<br>
53/tcp    open  domain<br/>
80/tcp    open  http<br/>
88/tcp    open  kerberos-sec<br/>
135/tcp   open  msrpc<br/>
139/tcp   open  netbios-ssn<br/>
389/tcp   open  ldap<br/>
445/tcp   open  microsoft-ds<br/>
464/tcp   open  kpasswd5<br/>
593/tcp   open  http-rpc-epmap<br/>
636/tcp   open  ldapssl<br/>
3268/tcp  open  globalcatLDAP<br/>
3269/tcp  open  globalcatLDAPssl<br/>
5985/tcp  open  wsman<br/>
9389/tcp  open  adws<br/>
47001/tcp open  winrm<br/>
49664/tcp open  unknown<br/>
49665/tcp open  unknown<br/>
49666/tcp open  unknown<br/>
49667/tcp open  unknown<br/>
49671/tcp open  unknown<br/>
49678/tcp open  unknown<br/>
49679/tcp open  unknown<br/>
49685/tcp open  unknown<br/>
49690/tcp open  unknown<br/>
49700/tcp open  unknown<br/>
49704/tcp open  unknown<br/>
53869/tcp open  unknown</br></code></div></div></br></br></blockquote>
</div>
<div class="post_meta" id="post_meta_543118">
<div class="float_right">
</div>
</div>