<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=545163#pid545163" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=545163#pid545163" title="RE: Absolute - HTB [Discussion]">#116</a></strong>
</div>
</div>
<span class="post_date"><span title="September 28, 2022, 01:18 PM">10 hours ago</span> <span class="post_edit" id="edited_by_545163"></span></span>
</div>
<div class="post_body scaleimages" id="pid_545163">
					Still having problems getting Add-DomainObjectAcl work with "Invalid Credentials" error. Any help?
				</div>
<div class="post_meta" id="post_meta_545163">
<div class="float_right">
</div>
</div>