<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=545297#pid545297" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=545297#pid545297" title="RE: Absolute - HTB [Discussion]">#117</a></strong>
</div>
</div>
<span class="post_date"><span title="September 28, 2022, 01:36 PM">10 hours ago</span> <span class="post_edit" id="edited_by_545297"></span></span>
</div>
<div class="post_body scaleimages" id="pid_545297">
<blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022, 12:41 PM">11 hours ago</span>)</span>Photographer Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=544823#pid544823" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 27, 2022">Yesterday</span>, 05:57 PM)</span>Exa Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=538905#pid538905" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 27, 2022">Yesterday</span>, 06:43 AM)</span>Exa Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=534310#pid534310" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (September 25, 2022, 07:25 PM)</span>user_htb22 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523566#pid523566" rel="nofollow"></a></cite>$ export KRB5CCNAME=svc_smb.ccache <br>
$ impacket-smbclient <a href="mailto:svb_smb@absolute.htb">svb_smb@absolute.htb</a> -k -no-pass<br>
Impacket v0.9.24 - Copyright 2021 SecureAuth Corporation<br>
<br/>
[-] SMB SessionError: STATUS_MORE_PROCESSING_REQUIRED({Still Busy} The specified I/O request packet (IRP) cannot be disposed of because the I/O operation is not complete.)</br></br></br></blockquote><br/>
I got the same error, both with smbclient.py and crackmapexec. I made sure my clock is synchronized with the DC. Without synchronization I would get this error: KRB_AP_ERR_SKEW(Clock skew too great).<br/>
<br/>
These are the commands I used:<br/>
<br/>
<div class="codeblock"><div class="body" dir="ltr"><code>sudo ntpdate absolute.htb<br/>
getTGT.py -dc-ip dc.absolute.htb absolute.htb/svc_smb:#########<br/>
export KRB5CCNAME=svc_smb.ccache<br/>
smbclient.py -dc-ip dc.absolute.htb -k absolute.htb</code></div></div><br/>
Does anyone has an idea why this is happening?</blockquote><br/>
Finally got this working. Apparently, dc.absolute.htb must be set as target (instead of absolute.htb or the IP address):<br/>
<br/>
<div class="codeblock"><div class="body" dir="ltr"><code>smbclient.py -k dc.absolute.htb</code></div></div></blockquote><br/>
ok that fixed it for me too!!! thanks</blockquote><br/>
Nice to hear. The lesson learnt is to use FQDNs when dealing with Kerberos tickets. This is the article I came across when troubleshooting: <a class="mycode_url" href="https://www.onsecurity.io/blog/abusing-kerberos-from-linux/" rel="noopener" target="_blank">https://www.onsecurity.io/blog/abusing-k...rom-linux/</a>
</div>
<div class="post_meta" id="post_meta_545297">
<div class="float_right">
</div>
</div>