<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=548026#pid548026" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=548026#pid548026" title="RE: Absolute - HTB [Discussion]">#119</a></strong>
</div>
</div>
<span class="post_date"><span title="September 28, 2022, 07:57 PM">3 hours ago</span> <span class="post_edit" id="edited_by_548026"></span></span>
</div>
<div class="post_body scaleimages" id="pid_548026">
					this is machine is unstable
				</div>
<div class="post_meta" id="post_meta_548026">
<div class="float_right">
</div>
</div>