<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=549021#pid549021" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=549021#pid549021" title="RE: Absolute - HTB [Discussion]">#120</a></strong>
</div>
</div>
<span class="post_date"><span title="September 28, 2022, 11:22 PM">21 minutes ago</span> <span class="post_edit" id="edited_by_549021"></span></span>
</div>
<div class="post_body scaleimages" id="pid_549021">
					anyone make any progress on root?
				</div>
<div class="post_meta" id="post_meta_549021">
<div class="float_right">
</div>
</div>