<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=552106#pid552106" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=552106#pid552106" title="RE: Absolute - HTB [Discussion]">#120</a></strong>
</div>
</div>
<span class="post_date"><span title="September 29, 2022, 08:57 AM">3 hours ago</span> <span class="post_edit" id="edited_by_552106">
<span class="edited_post">(This post was last modified: <span title="September 29, 2022, 09:00 AM">3 hours ago</span> by <a href="https://breached.to/User-Exa">Exa</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_552106">
					I'm also getting "The user name or password is incorrect" error when running the Add-DomainObjectAcl command.<br>
<br>
<br>
What I did:<ul class="mycode_list"><li>I setup a new Windows 10 Pro VM.<br/>
</li>
<li>I downloaded and imported Powersploit via Import-Module .\PowerSploit.psm1.<br/>
</li>
<li>I set internet time to dc.absolute.htb.<br/>
</li>
<li>I removed dc.absolute.htb from the hosts file. Doing so, the error changes to "The server is not operational"<br/>
</li>
</ul>
<br/>
Any ideas?
				</br></br></br></div>
<div class="post_meta" id="post_meta_552106">
<div class="float_right">
</div>
</div>