<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=553371#pid553371" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=553371#pid553371" title="RE: Absolute - HTB [Discussion]">#122</a></strong>
</div>
</div>
<span class="post_date"><span title="September 29, 2022, 11:29 AM">56 minutes ago</span> <span class="post_edit" id="edited_by_553371"></span></span>
</div>
<div class="post_body scaleimages" id="pid_553371">
<blockquote class="mycode_quote"><cite><span> (<span title="September 29, 2022, 09:47 AM">2 hours ago</span>)</span>ThatUsername Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=552514#pid552514" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 29, 2022, 08:57 AM">3 hours ago</span>)</span>Exa Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=552106#pid552106" rel="nofollow"></a></cite>I'm also getting "The user name or password is incorrect" error when running the Add-DomainObjectAcl command.<br>
<br>
<br>
What I did:<ul class="mycode_list"><li>I setup a new Windows 10 Pro VM.<br/>
</li>
<li>I downloaded and imported Powersploit via Import-Module .\PowerSploit.psm1.<br/>
</li>
<li>I set internet time to dc.absolute.htb.<br/>
</li>
<li>I removed dc.absolute.htb from the hosts file. Doing so, the error changes to "The server is not operational"<br/>
</li>
</ul>
<br/>
Any ideas?</br></br></br></blockquote><br/>
Had the same issue on my commando vm. I added the DC IP to my DNS Servers in the network card settings</blockquote><br/>
Thanks, that worked.
				</div>
<div class="post_meta" id="post_meta_553371">
<div class="float_right">
</div>
</div>