<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=553462#pid553462" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=553462#pid553462" title="RE: Absolute - HTB [Discussion]">#123</a></strong>
</div>
</div>
<span class="post_date"><span title="September 29, 2022, 11:45 AM">38 minutes ago</span> <span class="post_edit" id="edited_by_553462"></span></span>
</div>
<div class="post_body scaleimages" id="pid_553462">
<blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022">Yesterday</span>, 01:42 PM)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=545336#pid545336" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022">Yesterday</span>, 01:36 PM)</span>Exa Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=545297#pid545297" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 28, 2022">Yesterday</span>, 12:41 PM)</span>Photographer Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=544823#pid544823" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (September 27, 2022, 05:57 PM)</span>Exa Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=538905#pid538905" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (September 27, 2022, 06:43 AM)</span>Exa Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=534310#pid534310" rel="nofollow"></a></cite>I got the same error, both with smbclient.py and crackmapexec. I made sure my clock is synchronized with the DC. Without synchronization I would get this error: KRB_AP_ERR_SKEW(Clock skew too great).<br>
<br>
These are the commands I used:<br>
<br/>
<div class="codeblock"><div class="body" dir="ltr"><code>sudo ntpdate absolute.htb<br/>
getTGT.py -dc-ip dc.absolute.htb absolute.htb/svc_smb:#########<br/>
export KRB5CCNAME=svc_smb.ccache<br/>
smbclient.py -dc-ip dc.absolute.htb -k absolute.htb</code></div></div><br/>
Does anyone has an idea why this is happening?</br></br></br></blockquote><br/>
Finally got this working. Apparently, dc.absolute.htb must be set as target (instead of absolute.htb or the IP address):<br/>
<br/>
<div class="codeblock"><div class="body" dir="ltr"><code>smbclient.py -k dc.absolute.htb</code></div></div></blockquote><br/>
ok that fixed it for me too!!! thanks</blockquote><br/>
Nice to hear. The lesson learnt is to use FQDNs when dealing with Kerberos tickets. This is the article I came across when troubleshooting: <a class="mycode_url" href="https://www.onsecurity.io/blog/abusing-kerberos-from-linux/" rel="noopener" target="_blank">https://www.onsecurity.io/blog/abusing-k...rom-linux/</a></blockquote><br/>
JAJAJAJA kerbersos hates ips LOL u always have to use domains with kerberos. at least microsoft kerberos</blockquote><br/>
I´m a baby step away from root. But the tools that should work won´t do the job <img alt="Big Grin" class="smilie smilie_4" src="https://breached.to/images/smilies/biggrin.png" title="Big Grin"/>
</div>
<div class="post_meta" id="post_meta_553462">
<div class="float_right">
</div>
</div>