<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=554876#pid554876" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=554876#pid554876" title="RE: Absolute - HTB [Discussion]">#128</a></strong>
</div>
</div>
<span class="post_date"><span title="September 29, 2022, 02:52 PM">8 hours ago</span> <span class="post_edit" id="edited_by_554876">
<span class="edited_post">(This post was last modified: <span title="September 29, 2022, 02:52 PM">8 hours ago</span> by <a href="https://breached.to/User-yumi">yumi</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_554876">
					i think its possible to make from linux with dacledit. py and  you don't necessarily need a windows machine for the winrm part.<br>
well I think its  not necessary <img alt="Big Grin" class="smilie smilie_4" src="https://breached.to/images/smilies/biggrin.png" title="Big Grin">
</img></br></div>
<div class="post_meta" id="post_meta_554876">
<div class="float_right">
</div>
</div>