<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=554979#pid554979" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=554979#pid554979" title="RE: Absolute - HTB [Discussion]">#129</a></strong>
</div>
</div>
<span class="post_date"><span title="September 29, 2022, 03:06 PM">8 hours ago</span> <span class="post_edit" id="edited_by_554979"></span></span>
</div>
<div class="post_body scaleimages" id="pid_554979">
					Yeah, I can confirm that you don't need any Windows machine
				</div>
<div class="post_meta" id="post_meta_554979">
<div class="float_right">
</div>
</div>