<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=555209#pid555209" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=555209#pid555209" title="RE: Absolute - HTB [Discussion]">#130</a></strong>
</div>
</div>
<span class="post_date"><span title="September 29, 2022, 03:34 PM">7 hours ago</span> <span class="post_edit" id="edited_by_555209">
<span class="edited_post">(This post was last modified: <span title="September 29, 2022, 03:35 PM">7 hours ago</span> by <a href="https://breached.to/User-ThatUsername">ThatUsername</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_555209">
<blockquote class="mycode_quote"><cite><span> (<span title="September 29, 2022, 02:25 PM">8 hours ago</span>)</span>delmerherberth Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=554662#pid554662" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 29, 2022, 12:37 PM">10 hours ago</span>)</span>ThatUsername Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=553813#pid553813" rel="nofollow"></a></cite>Sure,<br>
<br>
on my WinRM Session i uploaded these files</br></br></blockquote><br>
How did you find this specificc CLSID? 752073A1-23F2-4396-85F0-8FDB879ED0ED</br></blockquote><br/>
<a class="mycode_url" href="https://notes.vulndev.io/notes/redteam/payloads/windows" rel="noopener" target="_blank">https://notes.vulndev.io/notes/redteam/payloads/windows</a><br/>
<hr class="mycode_hr"/>
<blockquote class="mycode_quote"><cite><span> (<span title="September 29, 2022, 03:06 PM">8 hours ago</span>)</span>Cornstalk Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=554979#pid554979" rel="nofollow"></a></cite>Yeah, I can confirm that you don't need any Windows machine</blockquote><br/>
Then feel free to give me a little hint <img alt="Smile" class="smilie smilie_1" src="https://breached.to/images/smilies/smile.png" title="Smile"/>
</div>
<div class="post_meta" id="post_meta_555209">
<div class="float_right">
</div>
</div>