<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=557845#pid557845" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=557845#pid557845" title="RE: Absolute - HTB [Discussion]">#134</a></strong>
</div>
</div>
<span class="post_date"><span title="September 29, 2022, 10:07 PM">1 hour ago</span> <span class="post_edit" id="edited_by_557845">
<span class="edited_post">(This post was last modified: <span title="September 29, 2022, 10:09 PM">1 hour ago</span> by <a href="https://breached.to/User-yumi">yumi</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_557845">
					I think we're confusing things, I said that I had no problem executing the commands with rubeus but I couldn't convert kirbi or access the shell other than winrm_user<br>
<hr class="mycode_hr"/>
I didn't say it was the path maybe it is ,but something is missing for us to complete the steps, analyzing the change updates of the machine they removed Krbrelayup  from C\:temp\ maybe this is the way the problem is to do some things with rubeus other than by RDP, with  winrm its a lot  limited.<br>
yep my shell crash when i try to run UACSCMBypass
				</br></br></div>
<div class="post_meta" id="post_meta_557845">
<div class="float_right">
</div>
</div>