<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=559617#pid559617" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=559617#pid559617" title="RE: Absolute - HTB [Discussion]">#135</a></strong>
</div>
</div>
<span class="post_date"><span title="September 30, 2022, 04:09 AM">10 hours ago</span> <span class="post_edit" id="edited_by_559617"></span></span>
</div>
<div class="post_body scaleimages" id="pid_559617">
<blockquote class="mycode_quote"><cite><span> (<span title="September 29, 2022">Yesterday</span>, 12:37 PM)</span>ThatUsername Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=553813#pid553813" rel="nofollow"></a></cite>Sure,<br>
<br>
on my WinRM Session i uploaded these files</br></br></blockquote>
</div>
<div class="post_meta" id="post_meta_559617">
<div class="float_right">
</div>
</div>