<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=562089#pid562089" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=562089#pid562089" title="RE: Absolute - HTB [Discussion]">#137</a></strong>
</div>
</div>
<span class="post_date"><span title="September 30, 2022, 10:07 AM">4 hours ago</span> <span class="post_edit" id="edited_by_562089"></span></span>
</div>
<div class="post_body scaleimages" id="pid_562089">
					git clone and compile with visual studio. but i will upload krbrelay.exe
				</div>
<div class="post_meta" id="post_meta_562089">
<div class="float_right">
</div>
</div>