<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=562156#pid562156" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=562156#pid562156" title="RE: Absolute - HTB [Discussion]">#138</a></strong>
</div>
</div>
<span class="post_date"><span title="September 30, 2022, 10:14 AM">4 hours ago</span> <span class="post_edit" id="edited_by_562156"></span></span>
</div>
<div class="post_body scaleimages" id="pid_562156">
					At least i ended up with a TGS "HOST/<a href="mailto:DC@Absolute.htb">DC@Absolute.htb</a>" which i got from KrbrelayUp.<br>
<br>
KrbrelayUp couldnt finish its job by starting a process but the ticket was loaded in memory and could be exported with rubeus.<br>
<br/>
Current LogonId is 0:0x1eb06d3<br/>
<br/>
Cached Tickets: (1)<br/>
<br/>
#0&gt; Client: Administrator @ ABSOLUTE.HTB<br/>
Server: HOST/DC @ ABSOLUTE.HTB<br/>
KerbTicket Encryption Type: AES-256-CTS-HMAC-SHA1-96<br/>
Ticket Flags 0x40a50000 -&gt; forwardable renewable pre_authent ok_as_delegate name_canonicalize<br/>
Start Time: 9/30/2022 9:45:06 (local)<br/>
End Time:  9/30/2022 19:45:06 (local)<br/>
Renew Time: 10/7/2022 9:45:06 (local)<br/>
Session Key Type: AES-256-CTS-HMAC-SHA1-96<br/>
Cache Flags: 0<br/>
Kdc Called:<br/>
<br/>
<br/>
Impacket-secretsdump quits by saying Pre_auth failed even when the flag is set in the ticket.
				</br></br></br></div>
<div class="post_meta" id="post_meta_562156">
<div class="float_right">
</div>
</div>