<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=564714#pid564714" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=564714#pid564714" title="RE: Absolute - HTB [Discussion]">#137</a></strong>
</div>
</div>
<span class="post_date"><span title="September 30, 2022">Yesterday</span>, 03:37 PM <span class="post_edit" id="edited_by_564714"></span></span>
</div>
<div class="post_body scaleimages" id="pid_564714">
					can someone share a writeup of this machine?
				</div>
<div class="post_meta" id="post_meta_564714">
<div class="float_right">
</div>
</div>