<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=566249#pid566249" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=566249#pid566249" title="RE: Absolute - HTB [Discussion]">#139</a></strong>
</div>
</div>
<span class="post_date"><span title="September 30, 2022">Yesterday</span>, 06:58 PM <span class="post_edit" id="edited_by_566249"></span></span>
</div>
<div class="post_body scaleimages" id="pid_566249">
<blockquote class="mycode_quote"><cite><span> (<span title="September 30, 2022">Yesterday</span>, 06:56 PM)</span>samhub123 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=566225#pid566225" rel="nofollow"></a></cite>Rooted at last.</blockquote><br>
would you kindly check your PM pls?
				</br></div>
<div class="post_meta" id="post_meta_566249">
<div class="float_right">
</div>
</div>