<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=566595#pid566595" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=566595#pid566595" title="RE: Absolute - HTB [Discussion]">#141</a></strong>
</div>
</div>
<span class="post_date"><span title="September 30, 2022">Yesterday</span>, 07:56 PM <span class="post_edit" id="edited_by_566595"></span></span>
</div>
<div class="post_body scaleimages" id="pid_566595">
<blockquote class="mycode_quote"><cite><span> (<span title="September 30, 2022">Yesterday</span>, 07:00 PM)</span>samhub123 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=566258#pid566258" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 30, 2022">Yesterday</span>, 06:58 PM)</span>ThatUsername Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=566249#pid566249" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="September 30, 2022">Yesterday</span>, 06:56 PM)</span>samhub123 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=566225#pid566225" rel="nofollow"></a></cite>Rooted at last.</blockquote><br>
would you kindly check your PM pls?</br></blockquote><br>
replied.</br></blockquote><br>
also replied <img alt="Big Grin" class="smilie smilie_4" src="https://breached.to/images/smilies/biggrin.png" title="Big Grin"/>
</br></div>
<div class="post_meta" id="post_meta_566595">
<div class="float_right">
</div>
</div>