<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=566640#pid566640" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=566640#pid566640" title="RE: Absolute - HTB [Discussion]">#142</a></strong>
</div>
</div>
<span class="post_date"><span title="September 30, 2022">Yesterday</span>, 08:05 PM <span class="post_edit" id="edited_by_566640"></span></span>
</div>
<div class="post_body scaleimages" id="pid_566640">
					Thanks mate!
				</div>
<div class="post_meta" id="post_meta_566640">
<div class="float_right">
</div>
</div>