<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=567535#pid567535" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=567535#pid567535" title="RE: Absolute - HTB [Discussion]">#146</a></strong>
</div>
</div>
<span class="post_date"><span title="September 30, 2022">Yesterday</span>, 10:49 PM <span class="post_edit" id="edited_by_567535"></span></span>
</div>
<div class="post_body scaleimages" id="pid_567535">
					if someone can send me a message about the path it's hard to make this administrator.ccache work I can't here either you guys create a fake machine or try another method ?
				</div>
<div class="post_meta" id="post_meta_567535">
<div class="float_right">
</div>
</div>