<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=567644#pid567644" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=567644#pid567644" title="RE: Absolute - HTB [Discussion]">#147</a></strong>
</div>
</div>
<span class="post_date"><span title="September 30, 2022">Yesterday</span>, 11:10 PM <span class="post_edit" id="edited_by_567644">
<span class="edited_post">(This post was last modified: <span title="September 30, 2022">Yesterday</span>, 11:19 PM by <a href="https://breached.to/User-yumi">yumi</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_567644">
					secretsdump worked get NTLM hash now<br>
<hr class="mycode_hr"/>
got root finally its simple thing kkkkkk<br>
<hr class="mycode_hr"/>
i was putting administrator but i have to put DC$ &gt;&lt; i was tired
				</br></br></div>
<div class="post_meta" id="post_meta_567644">
<div class="float_right">
</div>
</div>