<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=568513#pid568513" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=568513#pid568513" title="RE: Absolute - HTB [Discussion]">#148</a></strong>
</div>
</div>
<span class="post_date"><span title="October 1, 2022">Yesterday</span>, 02:54 AM <span class="post_edit" id="edited_by_568513"></span></span>
</div>
<div class="post_body scaleimages" id="pid_568513">
<blockquote class="mycode_quote"><cite><span> (September 29, 2022, 09:47 AM)</span>ThatUsername Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=552514#pid552514" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (September 29, 2022, 08:57 AM)</span>Exa Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=552106#pid552106" rel="nofollow"></a></cite>I'm also getting "The user name or password is incorrect" error when running the Add-DomainObjectAcl command.<br>
<br>
<br>
What I did:<ul class="mycode_list"><li>I setup a new Windows 10 Pro VM.<br/>
</li>
<li>I downloaded and imported Powersploit via Import-Module .\PowerSploit.psm1.<br/>
</li>
<li>I set internet time to dc.absolute.htb.<br/>
</li>
<li>I removed dc.absolute.htb from the hosts file. Doing so, the error changes to "The server is not operational"<br/>
</li>
</ul>
<br/>
Any ideas?</br></br></br></blockquote><br/>
Had the same issue on my commando vm. I added the DC IP to my DNS Servers in the network card settings</blockquote><br/>
How did you add the DC IP to your VM DNS Servers in network card settings?
				</div>
<div class="post_meta" id="post_meta_568513">
<div class="float_right">
</div>
</div>