<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=568940#pid568940" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=568940#pid568940" title="RE: Absolute - HTB [Discussion]">#149</a></strong>
</div>
</div>
<span class="post_date"><span title="October 1, 2022">Today</span>, 04:30 AM <span class="post_edit" id="edited_by_568940">
<span class="edited_post">(This post was last modified: <span title="October 1, 2022">Today</span>, 04:31 AM by <a href="https://breached.to/User-optimusoggy">optimusoggy</a>.)</span>
</span></span>
</div>
<div class="post_body scaleimages" id="pid_568940">
<a class="mycode_url" href="https://meowmeowattack.wordpress.com/2022/10/01/hackthebox-htb-writeup-absolute/" rel="noopener" target="_blank">https://meowmeowattack.wordpress.com/202...-absolute/</a><br>
<hr class="mycode_hr"/>
<blockquote class="mycode_quote"><cite><span> (<span title="September 30, 2022">Yesterday</span>, 11:10 PM)</span>yumi Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=567644#pid567644" rel="nofollow"></a></cite>secretsdump worked get NTLM hash now<br>
<hr class="mycode_hr"/>
got root finally its simple thing kkkkkk<br>
<hr class="mycode_hr"/>
i was putting administrator but i have to put DC$ &gt;&lt; i was tired</br></br></blockquote><br/>
your secretsdump needed for this might be
				</br></div>
<div class="post_meta" id="post_meta_568940">
<div class="float_right">
</div>
</div>