<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=570495#pid570495" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=570495#pid570495" title="RE: Absolute - HTB [Discussion]">#151</a></strong>
</div>
</div>
<span class="post_date"><span title="October 1, 2022, 09:51 AM">9 hours ago</span> <span class="post_edit" id="edited_by_570495"></span></span>
</div>
<div class="post_body scaleimages" id="pid_570495">
					what the insane machine... but fun
				</div>
<div class="post_meta" id="post_meta_570495">
<div class="float_right">
</div>
</div>