<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=570622#pid570622" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=570622#pid570622" title="RE: Absolute - HTB [Discussion]">#152</a></strong>
</div>
</div>
<span class="post_date">October 1, 2022, 10:10 AM <span class="post_edit" id="edited_by_570622"></span></span>
</div>
<div class="post_body scaleimages" id="pid_570622">
					I have a problem using pywhisker ( [!] Could not modify object, the server reports insufficient rights: 00002098: SecErr: DSID-031514A0,<br>
problem 4003 (INSUFF_ACCESS_RIGHTS), data 0 )<br>
<br>
it has a solution?
<div class="postbit-ban-alert rounded">
<strong>This forum account is currently banned.</strong> Ban Length: (Permanent).
<br/><strong>Ban Reason</strong>: Automated ban, Detected spamming. Confidence: 100% | BanType: EmptyQuote
</div>
</br></br></br></div>
<div class="post_meta" id="post_meta_570622">
<div class="float_right">
</div>
</div>