<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=571225#pid571225" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=571225#pid571225" title="RE: Absolute - HTB [Discussion]">#155</a></strong>
</div>
</div>
<span class="post_date"><span title="October 1, 2022, 11:34 AM">7 hours ago</span> <span class="post_edit" id="edited_by_571225"></span></span>
</div>
<div class="post_body scaleimages" id="pid_571225">
<blockquote class="mycode_quote"><cite><span> (September 26, 2022, 09:19 PM)</span>ThatUsername Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=531279#pid531279" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (September 25, 2022, 06:03 PM)</span>jahman Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=523090#pid523090" rel="nofollow"></a></cite>Hello, <br>
<br>
Via bloodhound :  m.lovegod -- OWNS --&gt; Group Network Audit -- Generic Write --&gt; winrm_user</br></br></blockquote><br>
How did you collected the data? With every version of Bloodhound ingestor i ran into a "Failure to authenticate with LDAP". Using  and his password.<br/>
<br/>
Bloodhound.py | Sharphound.ps1 | Sharphound.exe<br/>
<br/>
is failing.</br></blockquote><br/>
OK
				</div>
<div class="post_meta" id="post_meta_571225">
<div class="float_right">
</div>
</div>