<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=571642#pid571642" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=571642#pid571642" title="RE: Absolute - HTB [Discussion]">#158</a></strong>
</div>
</div>
<span class="post_date"><span title="October 1, 2022, 12:51 PM">6 hours ago</span> <span class="post_edit" id="edited_by_571642"></span></span>
</div>
<div class="post_body scaleimages" id="pid_571642">
					Anyone in order to change the NTLM hash of absolute by sekhmet?  or send to me password to <a class="mycode_url" href="https://meowmeowattack.wordpress.com/2022/09/21/hackthebox-htb-writeup-sekmet-insane/" rel="noopener" target="_blank">https://meowmeowattack.wordpress.com/202...et-insane/</a> ? please , thanks im stuck webpart &gt;&lt;
				</div>
<div class="post_meta" id="post_meta_571642">
<div class="float_right">
</div>
</div>