<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=571655#pid571655" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=571655#pid571655" title="RE: Absolute - HTB [Discussion]">#159</a></strong>
</div>
</div>
<span class="post_date"><span title="October 1, 2022, 12:53 PM">6 hours ago</span> <span class="post_edit" id="edited_by_571655"></span></span>
</div>
<div class="post_body scaleimages" id="pid_571655">
					Hi I'm using the Kali Linux, that is not VM.<br>
so I want to compile KrbRelay to KrbRelay.exe<br>
<br>
However My PC can't this...<br/>
Occured the Error like below<br/>
<br/>
IStorage/StandardActivator.cs(73,37): error CS1644: Feature `readonly references' cannot be used because it is not part of the C# 7.0 language specification<br/>
IStorage/StandardActivator.cs(73,102): error CS1644: Feature `readonly references' cannot be used because it is not part of the C# 7.0 language specification<br/>
IStorage/StandardActivator.cs(75,37): error CS1644: Feature `readonly references' cannot be used because it is not part of the C# 7.0 language specification<br/>
IStorage/StandardActivator.cs(77,73): error CS1644: Feature `readonly references' cannot be used because it is not part of the C# 7.0 language specification<br/>
IStorage/StandardActivator.cs(82,13): error CS1644: Feature `readonly references' cannot be used because it is not part of the C# 7.0 language specification<br/>
<br/>
<br/>
anyone know solution of these? or tell me links of KrbRelay's compiled binary????<br/>
<br/>
thanks
				</br></br></br></div>
<div class="post_meta" id="post_meta_571655">
<div class="float_right">
</div>
</div>