<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=571896#pid571896" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=571896#pid571896" title="RE: Absolute - HTB [Discussion]">#162</a></strong>
</div>
</div>
<span class="post_date"><span title="October 1, 2022, 01:44 PM">5 hours ago</span> <span class="post_edit" id="edited_by_571896"></span></span>
</div>
<div class="post_body scaleimages" id="pid_571896">
					@<a class="mycode_mention" href="https://breached.to/User-yumi"><span class="rf_elite">yumi</span></a><br>
I MP you, please enjoy
				</br></div>
<div class="post_meta" id="post_meta_571896">
<div class="float_right">
</div>
</div>