<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=572073#pid572073" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=572073#pid572073" title="RE: Absolute - HTB [Discussion]">#163</a></strong>
</div>
</div>
<span class="post_date"><span title="October 1, 2022, 02:21 PM">4 hours ago</span> <span class="post_edit" id="edited_by_572073"></span></span>
</div>
<div class="post_body scaleimages" id="pid_572073">
<blockquote class="mycode_quote"><cite><span> (<span title="October 1, 2022, 01:44 PM">5 hours ago</span>)</span>Himitsu Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=571896#pid571896" rel="nofollow"></a></cite>@<a class="mycode_mention" href="https://breached.to/User-yumi"><span class="rf_elite">yumi</span></a><br>
I MP you, please enjoy</br></blockquote><br>
@<a class="mycode_mention" href="https://breached.to/User-Himitsu"><span class="rf_elite">Himitsu</span></a> <br>
<br/>
Thanks you are the best  <img alt="Heart" class="smilie smilie_16" src="https://breached.to/images/smilies/heart.png" title="Heart">
</img></br></br></div>
<div class="post_meta" id="post_meta_572073">
<div class="float_right">
</div>
</div>