<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=572574#pid572574" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=572574#pid572574" title="RE: Absolute - HTB [Discussion]">#165</a></strong>
</div>
</div>
<span class="post_date"><span title="October 1, 2022, 03:35 PM">3 hours ago</span> <span class="post_edit" id="edited_by_572574"></span></span>
</div>
<div class="post_body scaleimages" id="pid_572574">
					public fig
				</div>
<div class="post_meta" id="post_meta_572574">
<div class="float_right">
</div>
</div>