<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=576117#pid576117" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=576117#pid576117" title="RE: Absolute - HTB [Discussion]">#166</a></strong>
</div>
</div>
<span class="post_date"><span title="October 2, 2022, 03:13 AM">6 hours ago</span> <span class="post_edit" id="edited_by_576117"></span></span>
</div>
<div class="post_body scaleimages" id="pid_576117">
					Simeone pass me the ntlm hash of skehmet or absolute please? i ask it from My heart ??
				</div>
<div class="post_meta" id="post_meta_576117">
<div class="float_right">
</div>
</div>