<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=576245#pid576245" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=576245#pid576245" title="RE: Absolute - HTB [Discussion]">#167</a></strong>
</div>
</div>
<span class="post_date"><span title="October 2, 2022, 03:54 AM">6 hours ago</span> <span class="post_edit" id="edited_by_576245"></span></span>
</div>
<div class="post_body scaleimages" id="pid_576245">
					this is really just hard box
				</div>
<div class="post_meta" id="post_meta_576245">
<div class="float_right">
</div>
</div>