<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=580020#pid580020" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=580020#pid580020" title="RE: Absolute - HTB [Discussion]">#169</a></strong>
</div>
</div>
<span class="post_date"><span title="October 2, 2022, 04:13 PM">44 minutes ago</span> <span class="post_edit" id="edited_by_580020"></span></span>
</div>
<div class="post_body scaleimages" id="pid_580020">
					I have one question please. How to run full attack from win pc
				</div>
<div class="post_meta" id="post_meta_580020">
<div class="float_right">
</div>
</div>