<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=580889#pid580889" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=580889#pid580889" title="RE: Absolute - HTB [Discussion]">#171</a></strong>
</div>
</div>
<span class="post_date"><span title="October 2, 2022, 07:01 PM">6 hours ago</span> <span class="post_edit" id="edited_by_580889"></span></span>
</div>
<div class="post_body scaleimages" id="pid_580889">
<blockquote class="mycode_quote"><cite><span> (September 29, 2022, 12:37 PM)</span>ThatUsername Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=553813#pid553813" rel="nofollow"></a></cite>Sure,<br>
<br>
on my WinRM Session i uploaded these files</br></br></blockquote>tyty
				</div>
<div class="post_meta" id="post_meta_580889">
<div class="float_right">
</div>
</div>