<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=583808#pid583808" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=583808#pid583808" title="RE: Absolute - HTB [Discussion]">#172</a></strong>
</div>
</div>
<span class="post_date"><span title="October 3, 2022, 07:56 AM">8 hours ago</span> <span class="post_edit" id="edited_by_583808"></span></span>
</div>
<div class="post_body scaleimages" id="pid_583808">
					Thanks
				</div>
<div class="post_meta" id="post_meta_583808">
<div class="float_right">
</div>
</div>