<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=584324#pid584324" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=584324#pid584324" title="RE: Absolute - HTB [Discussion]">#173</a></strong>
</div>
</div>
<span class="post_date"><span title="October 3, 2022, 09:36 AM">7 hours ago</span> <span class="post_edit" id="edited_by_584324"></span></span>
</div>
<div class="post_body scaleimages" id="pid_584324">
					For anyone stuck on the crackmapexec, the kali version is bad, you need to get the precompiled binary and run it. <br>
<br>
export KRB5CCNAME=~/d.klay.ccache<br>
sudo ntpdate -s absolute.htb<br/>
/cme ldap  -u d.klay -d absolute.htb -k --kdcHost dc.absolute.htb --users dc-ip
				</br></br></br></div>
<div class="post_meta" id="post_meta_584324">
<div class="float_right">
</div>
</div>