<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=586032#pid586032" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=586032#pid586032" title="RE: Absolute - HTB [Discussion]">#174</a></strong>
</div>
</div>
<span class="post_date"><span title="October 3, 2022, 02:29 PM">2 hours ago</span> <span class="post_edit" id="edited_by_586032"></span></span>
</div>
<div class="post_body scaleimages" id="pid_586032">
<blockquote class="mycode_quote"><cite><span> (September 26, 2022, 08:58 PM)</span>user_htb22 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=531179#pid531179" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (September 26, 2022, 12:21 AM)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=524717#pid524717" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (September 26, 2022, 12:09 AM)</span>jahman Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=524680#pid524680" rel="nofollow"></a></cite><blockquote class="mycode_quote"><cite><span> (September 26, 2022, 12:02 AM)</span>Hacker2222 Wrote:  <a class="quick_jump" href="https://breached.to/Thread-Absolute-HTB-Discussion?pid=524658#pid524658" rel="nofollow"></a></cite>i think commandovm didn't install rsat  ....................... maybe that its it</blockquote><br>
    <br>
<br>
Add-DomainObjectAcl is a powerview function. is your DNS client configured to  the box?<br/>
<br/>
    <br/>
Add-ADPrincipalGroupMembership is a rsat-powershell</br></br></br></blockquote><br/>
btw if hash doesn't crack then u prob have to use msDS-KeyCredentialLink on that user (not on toher users LOL)<br/>
<br/>
get this error :<br/>
<br/>
Exception calling "FindAll" with "0" argument(s): "The user name or password is incorrect.<br/>
"<br/>
At C:\Users\administrador\Desktop\scripts\PowerView.ps1:6663 char:20<br/>
+            else { $Results = $ObjectSearcher.FindAll() }<br/>
+                    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br/>
    + CategoryInfo          : NotSpecified: (<img alt="Smile" class="smilie smilie_1" src="https://breached.to/images/smilies/smile.png" title="Smile"/> [], MethodInvocationException<br/>
    + FullyQualifiedErrorId : DirectoryServicesCOMException<br/>
<br/>
Unable to resolve principal: m.lovegod<br/>
At C:\Users\administrador\Desktop\scripts\PowerView.ps1:8529 char:13<br/>
+            throw "Unable to resolve principal: $PrincipalIdentity"<br/>
+            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br/>
    + CategoryInfo          : OperationStopped: (Unable to resolve principal: m.lovegod:String) [], RuntimeException<br/>
    + FullyQualifiedErrorId : Unable to resolve principal: m.lovegod</blockquote><br/>
same error what is missing</blockquote><br/>
thx
				</div>
<div class="post_meta" id="post_meta_586032">
<div class="float_right">
</div>
</div>