<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=586742#pid586742" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=586742#pid586742" title="RE: Absolute - HTB [Discussion]">#176</a></strong>
</div>
</div>
<span class="post_date"><span title="October 3, 2022, 04:03 PM">42 minutes ago</span> <span class="post_edit" id="edited_by_586742"></span></span>
</div>
<div class="post_body scaleimages" id="pid_586742">
					interesting
				</div>
<div class="post_meta" id="post_meta_586742">
<div class="float_right">
</div>
</div>