<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=591174#pid591174" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=591174#pid591174" title="RE: Absolute - HTB [Discussion]">#178</a></strong>
</div>
</div>
<span class="post_date"><span title="October 4, 2022, 08:22 AM">8 hours ago</span> <span class="post_edit" id="edited_by_591174"></span></span>
</div>
<div class="post_body scaleimages" id="pid_591174">
					tyyyy
				</div>
<div class="post_meta" id="post_meta_591174">
<div class="float_right">
</div>
</div>