<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=597157#pid597157" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=597157#pid597157" title="RE: Absolute - HTB [Discussion]">#179</a></strong>
</div>
</div>
<span class="post_date"><span title="October 5, 2022, 05:45 AM">8 hours ago</span> <span class="post_edit" id="edited_by_597157"></span></span>
</div>
<div class="post_body scaleimages" id="pid_597157">
					HARD one.
				</div>
<div class="post_meta" id="post_meta_597157">
<div class="float_right">
</div>
</div>