<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=597878#pid597878" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=597878#pid597878" title="RE: Absolute - HTB [Discussion]">#180</a></strong>
</div>
</div>
<span class="post_date"><span title="October 5, 2022, 08:11 AM">6 hours ago</span> <span class="post_edit" id="edited_by_597878"></span></span>
</div>
<div class="post_body scaleimages" id="pid_597878">
					got nothing
				</div>
<div class="post_meta" id="post_meta_597878">
<div class="float_right">
</div>
</div>