<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=600063#pid600063" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=600063#pid600063" title="RE: Absolute - HTB [Discussion]">#182</a></strong>
</div>
</div>
<span class="post_date"><span title="October 5, 2022">Yesterday</span>, 02:37 PM <span class="post_edit" id="edited_by_600063"></span></span>
</div>
<div class="post_body scaleimages" id="pid_600063">
<blockquote class="mycode_quote"><cite><span> (September 30, 2022, 10:14 AM)</span>ThatUsername Wrote:  <a class="quick_jump" href="https://breached.to/post-562156.html#pid562156" rel="nofollow"></a></cite>At least i ended up with a TGS "HOST/<a href="mailto:DC@Absolute.htb">DC@Absolute.htb</a>" which i got from KrbrelayUp.<br>
<br>
KrbrelayUp couldnt finish its job by starting a process but the ticket was loaded in memory and could be exported with rubeus.<br>
<br/>
Current LogonId is 0:0x1eb06d3<br/>
<br/>
Cached Tickets: (1)<br/>
<br/>
#0&gt; Client: Administrator @ ABSOLUTE.HTB<br/>
Server: HOST/DC @ ABSOLUTE.HTB<br/>
KerbTicket Encryption Type: AES-256-CTS-HMAC-SHA1-96<br/>
Ticket Flags 0x40a50000 -&gt; forwardable renewable pre_authent ok_as_delegate name_canonicalize<br/>
Start Time: 9/30/2022 9:45:06 (local)<br/>
End Time:  9/30/2022 19:45:06 (local)<br/>
Renew Time: 10/7/2022 9:45:06 (local)<br/>
Session Key Type: AES-256-CTS-HMAC-SHA1-96<br/>
Cache Flags: 0<br/>
Kdc Called:<br/>
<br/>
<br/>
Impacket-secretsdump quits by saying Pre_auth failed even when the flag is set in the ticket.</br></br></br></blockquote><br/>
I succeeded in having all tickets I want using Rubeus v 2.0.0.
				</div>
<div class="post_meta" id="post_meta_600063">
<div class="float_right">
</div>
</div>