<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=601007#pid601007" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=601007#pid601007" title="RE: Absolute - HTB [Discussion]">#183</a></strong>
</div>
</div>
<span class="post_date"><span title="October 5, 2022">Yesterday</span>, 05:30 PM <span class="post_edit" id="edited_by_601007"></span></span>
</div>
<div class="post_body scaleimages" id="pid_601007">
					got root.<br>
I had hard time as I was working from linux, but from a windows box it went smoothly <br>
<br>
Thanks averyone
				</br></br></br></div>
<div class="post_meta" id="post_meta_601007">
<div class="float_right">
</div>
</div>