<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=601015#pid601015" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=601015#pid601015" title="RE: Absolute - HTB [Discussion]">#184</a></strong>
</div>
</div>
<span class="post_date"><span title="October 5, 2022">Yesterday</span>, 05:33 PM <span class="post_edit" id="edited_by_601015"></span></span>
</div>
<div class="post_body scaleimages" id="pid_601015">
					someone share the winrm_user hash plss
				</div>
<div class="post_meta" id="post_meta_601015">
<div class="float_right">
</div>
</div>