<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=606054#pid606054" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=606054#pid606054" title="RE: Absolute - HTB [Discussion]">#185</a></strong>
</div>
</div>
<span class="post_date"><span title="October 6, 2022">Yesterday</span>, 12:52 PM <span class="post_edit" id="edited_by_606054"></span></span>
</div>
<div class="post_body scaleimages" id="pid_606054">
					Thanks averyone
				</div>
<div class="post_meta" id="post_meta_606054">
<div class="float_right">
</div>
</div>