<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=626796#pid626796" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=626796#pid626796" title="RE: Absolute - HTB [Discussion]">#190</a></strong>
</div>
</div>
<span class="post_date">October 9, 2022, 09:06 PM <span class="post_edit" id="edited_by_626796"></span></span>
</div>
<div class="post_body scaleimages" id="pid_626796">
					asdasdasd
				</div>
<div class="post_meta" id="post_meta_626796">
<div class="float_right">
</div>
</div>