<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=644218#pid644218" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=644218#pid644218" title="RE: Absolute - HTB [Discussion]">#193</a></strong>
</div>
</div>
<span class="post_date"><span title="October 12, 2022, 07:38 PM">11 hours ago</span> <span class="post_edit" id="edited_by_644218"></span></span>
</div>
<div class="post_body scaleimages" id="pid_644218">
					ththththth
				</div>
<div class="post_meta" id="post_meta_644218">
<div class="float_right">
</div>
</div>