<div class="post_head">
<div class="float_right" style="vertical-align: top">
<!--<strong><a href="Thread-RaidForums-Official-Telegram?pid=644559#pid644559" title="RaidForums Official Telegram">#1</a></strong>-->
<div class="float_right" style="vertical-align: top">
<strong><a href="Thread-Absolute-HTB-Discussion?pid=644559#pid644559" title="RE: Absolute - HTB [Discussion]">#194</a></strong>
</div>
</div>
<span class="post_date"><span title="October 12, 2022, 08:55 PM">10 hours ago</span> <span class="post_edit" id="edited_by_644559"></span></span>
</div>
<div class="post_body scaleimages" id="pid_644559">
<blockquote class="mycode_quote"><cite><span> (September 26, 2022, 09:19 PM)</span>ThatUsername Wrote:  <a class="quick_jump" href="https://breached.to/post-531279.html#pid531279"></a></cite><blockquote class="mycode_quote"><cite><span> (September 25, 2022, 06:03 PM)</span>jahman Wrote:  <a class="quick_jump" href="https://breached.to/post-523090.html#pid523090"></a></cite>Hello, <br>
<br>
Via bloodhound :  m.lovegod -- OWNS --&gt; Group Network Audit -- Generic Write --&gt; winrm_user</br></br></blockquote><br>
How did you collected the data? With every version of Bloodhound ingestor i ran into a "Failure to authenticate with LDAP". Using  and his password.<br/>
<br/>
Bloodhound.py | Sharphound.ps1 | Sharphound.exe<br/>
<br/>
is failing.</br></blockquote><br/>
Let's hack
				</div>
<div class="post_meta" id="post_meta_644559">
<div class="float_right">
</div>
</div>